
<extend name="Public:base" />
<block name="css">
    <load href="__CSS__/App/home/businessCooperation.css" />
</block>
<block name="content">
    <div class="had-container">
        <div class="coor-nav" >
            <ul>
                <li id="js-headquarters" ><a data-id="1" href="#headquarters" > 联系我们</a></li>
                <li id="js-shenzhenBranch"><a data-id="2" href="#talentJoin" >招贤纳士</a></li>
            </ul>
        </div>
        <!--联系我们-->
        <div id="headquarters" class="section-common div-center" style="height: 1020px;">
            <div><img src="__IMG__/cooperate.png"></div>
            <h3 style="color: #ffa54a;margin-top: 50px;">联系我们</h3>
            <address>
                <p><strong>地&nbsp;&nbsp;&nbsp;址&nbsp;&nbsp;&nbsp;&nbsp;:</strong>
                    <strong> 深圳市南山区高新中四道研祥科技大厦6A</strong>
                </p>
                <p><strong>客服电话:</strong>
                    <strong>400-805-0095</strong>
                </p>
                <p><strong>联系电话:</strong>
                    <strong>0755-28347393</strong>
                </p>
                <p><strong>邮&nbsp;&nbsp;&nbsp;箱&nbsp;&nbsp;&nbsp;&nbsp;:</strong>
                    <strong>hr@hadlink.com</strong>
                </p>
                <p><strong>新浪微博:</strong>
                    <strong>http://weibo.com/ikaibei</strong>
                </p>
            </address>
            <div style="width:600px;height:550px;border:#ccc solid 1px;font-size:12px" id="map"></div>

        </div>

        <!--招贤纳士-->
        <div id="talentJoin" class="section-common div-center" style="min-height: 2200px;">
            <h3 style="color: #ffa54a;margin-top: 50px;">招贤纳士</h3>
            <p style="margin-top: 30px;"><strong>1、招商专员 &nbsp;&nbsp;若干&nbsp;&nbsp;   所在地：全国</strong></p>

            <p>岗位职责：</p>
            <p>&nbsp;&nbsp;&nbsp;1、负责互联网业务的线下推广服务工作；</p>
            <p>&nbsp;&nbsp;&nbsp;2、负责客户的开发与维护工作；
            <p>&nbsp;&nbsp;&nbsp;3、推广互联网业务；了解客户需要，为客户提供相应的专业解决方案，并建立、维护本公司专业、诚信的形象。

            <p>能力/素质要求：
            <p>&nbsp;&nbsp;&nbsp;1、大专及以上学历，销售经验丰富者、有汽车行业、互联网行业销售学历可放宽；
            <p>&nbsp;&nbsp;&nbsp;2、沟通表达能力好，学习能力强；
            <p>&nbsp;&nbsp;&nbsp;3、性格外向，积极主动、能吃苦耐劳、责任心强、有毅力，思维敏捷；
            <p>&nbsp;&nbsp;&nbsp;4、工作执行力强，工作效率高；
            <p>&nbsp;&nbsp;&nbsp;5、有汽车行业销售经验者优先。
            <p style="margin-top: 30px;"><strong>2、PHP工程师 &nbsp;&nbsp;  2名  &nbsp;&nbsp; 所在地：深圳</strong>

            <p>岗位职责：
            <p>&nbsp;&nbsp;&nbsp;1、负责产品后台的架构，开发工作；
            <p>&nbsp;&nbsp;&nbsp;2、负责商户端网站的后台开发；
            <p>&nbsp;&nbsp;&nbsp;3、负责运营管理端后台功能开发；
            <p>&nbsp;&nbsp;&nbsp;4、负责服务器的维护，保证其安全稳定运行。

            <p>能力/素质要求：
            <p>&nbsp;&nbsp;&nbsp;1、软件开发的知识全面，基础扎实；
            <p>&nbsp;&nbsp;&nbsp;2、熟悉PHP+MYSQL编程，了解LINUX系统，精通PHP面向对象编程，熟悉PHP模版编程；
            <p>&nbsp;&nbsp;&nbsp;3、熟悉mvc模式，具有网站优化和架构的能力。


            <p style="margin-top: 30px;"><strong>3、城市经理 &nbsp;&nbsp; 3 名 &nbsp;&nbsp; 所在地：全国</strong>

            <p>岗位职责：
            <p>&nbsp;&nbsp;&nbsp;1、	负责公司产品在特定城市的销售业务，带领销售团队，完成绩效目标；
            <p>&nbsp;&nbsp;&nbsp;2、贯彻执行公司的销售策略及流程；根据销售任务制定本部门的销售策略及计划，并跟踪实施；从销售数据中找出问题，并持续优化策略和计划；
            <p>&nbsp;&nbsp;&nbsp;3、组建销售队伍、培训一线销售人员。

            <p>能力/素质要求：
            <p>&nbsp;&nbsp;&nbsp;1、25-40岁；
            <p>&nbsp;&nbsp;&nbsp;2、知名团购网工作经验（大众点评、美团网、糯米网）或者汽车行业的工作经验者优先录取；
            <p>&nbsp;&nbsp;&nbsp;3、大专以上学历,3年以上主动销售工作经验，销售业绩优秀，至少1年以上销售管理经验，有良好的销售 团 队管理成绩；
            <p>&nbsp;&nbsp;&nbsp;4、热爱销售工作，有强烈的成功欲望和企图心，经常成功挑战“不可能”；
            <p>&nbsp;&nbsp;&nbsp;5、有O2O或其他汽车行业从业经验者优先（有O2O行业最佳）；
            <p>&nbsp;&nbsp;&nbsp;6、认真负责，吃苦耐劳，具备良好的表达能力和沟通协调能力，擅长打造有执行力的团队；
            <p>&nbsp;&nbsp;&nbsp;7、精力充沛，具备在压力下出色完成任务的能力。


            <p style="margin-top: 30px;"><strong>4、 网络推广专员 &nbsp;&nbsp;  2名 &nbsp;&nbsp; 所在地：深圳</strong>

            <p>岗位职责：
            <p>&nbsp;&nbsp;&nbsp;1、熟悉互联网特点及运作模式，对内容、软、硬文进行编辑、处理等；
            <p>&nbsp;&nbsp;&nbsp;2、参与公司网络推广策略的制定与具体实施；
            <p>&nbsp;&nbsp;&nbsp;3、实施各种推广活动，不断洞察市场热点，持续策动事件营销，擅长口碑营销和话题炒作；
            <p>&nbsp;&nbsp;&nbsp;4、负责公司网站、产品的推广：包括问答平台、论坛、贴吧、百科、微博、微信、邮件等推广工作；
            <p>&nbsp;&nbsp;&nbsp;5、协助主管领导做好线上及线下的推广工作。

            <p>能力/素质要求：
            <p>&nbsp;&nbsp;&nbsp;1、熟练掌握互联网推广技术、精通各种网络营销渠道、手段和工具；
            <p>&nbsp;&nbsp;&nbsp;2、精通微博、微信、BBS、社区、博客、QQ群、群邮等网络推广 方式；
            <p>&nbsp;&nbsp;&nbsp;3、大专以上，编辑、新闻、中文相关专业,有两年以上的线上推广经验；
            <p>&nbsp;&nbsp;&nbsp;4、有互联网媒体资源优先。





            <p style="margin-top: 30px;"><strong>5、产品运营经理 &nbsp;&nbsp;  1名&nbsp;&nbsp;   所在地：深圳</strong>

            <p>岗位职责：
            <p>&nbsp;&nbsp;&nbsp;1、制定新产品进入市场的切入点、前期准备工作、运作过程及注意事项等具体实操方案；
            <p>&nbsp;&nbsp;&nbsp;2、负责市场调研、了解客户需求、竞争状况及市场力量，发现创新或改进产品的潜在机会；
            <p>&nbsp;&nbsp;&nbsp;3、对产品上线后进行跟踪、分析：如宣传策略、分销渠道等；
            <p>&nbsp;&nbsp;&nbsp;4、制定产品运营过程的规则设定：如商家规则、会员规则及与产品相关的标准化等；
            <p>&nbsp;&nbsp;&nbsp;5、负责风险事件的信息收集、分析及反馈；
            <p>&nbsp;&nbsp;&nbsp;6、协助运营总监做好产品上线后的市场费用的使用和成本控制；
            <p>&nbsp;&nbsp;&nbsp;7、对活跃用户数、增长量等关键数据负责，展现运营成果。

            <p>能力/素质要求：
            <p>&nbsp;&nbsp;&nbsp;1、对产品运营工作有深刻认知；
            <p>&nbsp;&nbsp;&nbsp;2、对市场运作有决策、组织、预见能力；
            <p>&nbsp;&nbsp;&nbsp;3、具有解决复杂问题的能力；
            <p>&nbsp;&nbsp;&nbsp;4、较强的计划性和实施执行的能力；
            <p>&nbsp;&nbsp;&nbsp;5、高度的工作热情，良好的团队合作精神；
            <p>&nbsp;&nbsp;&nbsp;6、较强的观察力和应变能力，思维敏捷；
            <p>&nbsp;&nbsp;&nbsp;7、出色的人际沟通能力、组织、协调能力。


            <p style="margin-top: 30px;"><strong>6、网络营销经理 &nbsp;&nbsp;  1名  &nbsp;&nbsp;所在地：深圳</strong>

            <p>岗位职责：
            <p>&nbsp;&nbsp;&nbsp;1、负责平台推广策划工作，有效达成平台的访问量等相关推广指标，并不断探索新的推广方法；
            <p>&nbsp;&nbsp;&nbsp;2、策划执行软文、在线活动、病毒式营销等传播方案，善于发现炒作点并形成方案；
            <p>&nbsp;&nbsp;&nbsp;3、负责网站SEO推广、SEM推进，各种流量推广的策划、执行与跟踪及外链建设；
            <p>&nbsp;&nbsp;&nbsp;4、负责网络广告投放，及第三方网站进行流量、反链交换，专题活动合作，增加流量及下载量；
            <p>&nbsp;&nbsp;&nbsp;5、负责网络活动营销策划和实施，针对节假日、社会事件活动策划可执行的有效网络营销活动；
            <p>&nbsp;&nbsp;&nbsp;6、负责网络联盟、邮件营销、论坛营销、博客营销、IM营销、病毒营销、自媒体营销等各种网络推广；
            <p>&nbsp;&nbsp;&nbsp;7、开拓会员渠道，不断提高平台的会员注册量，对会员的注册量负责。

            <p>&nbsp;&nbsp;&nbsp;<h3 style="color: #ffa54a; ">以上岗位正在招聘，有意者请将简历投递至我司人力资源部 hr@hadlink.com.</h3>

        </div>
        <!--运营推广中心-->
        <div id="operation" class="section-common div-center" style="min-height: 300px;display: none">
            <h3 style="color: #ffa54a;margin-top: 50px;">运营推广中心</h3>
        </div>
        <!--商务拓展中心-->
        <div id="business" class="section-common div-center" style="min-height: 300px;display: none">
            <h3 style="color: #ffa54a;margin-top: 50px;">商务拓展中心</h3>
        </div>
        <!--供应链管理中心-->
        <div id="supplyChain" class="section-common div-center" style="min-height: 300px;display: none">
            <h3 style="color: #ffa54a;margin-top: 50px;">供应链管理中心</h3>
        </div>
        <!--深圳分公司-->
        <div id="shenzhen" class="section-common div-center" style="min-height: 300px;display: none">
            <h3 style="color: #ffa54a;margin-top: 50px;">深圳分公司</h3>
        </div>
        <!--广州分公司-->
        <div id="guangzhou" class="section-common div-center" style="min-height: 300px;display: none">
            <h3 style="color: #ffa54a;margin-top: 50px;">广州分公司</h3>
        </div>
    </div>
</block>
<block name="footer">
    <include file="Public:footer" />
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use('businessCooperationController.js',function(main){
            main.base();
        });
    </script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=kU0Gfwli5aoHG09bxkrZa5LC"></script>
    <script type="text/javascript">
        //创建和初始化地图函数：
        function initMap(){
            createMap();//创建地图
            setMapEvent();//设置地图事件
            addMapControl();//向地图添加控件
            addMapOverlay();//向地图添加覆盖物
        }
        function createMap(){
            map = new BMap.Map("map");
            map.centerAndZoom(new BMap.Point(113.942176,22.550206),15);
        }
        function setMapEvent(){
            map.enableScrollWheelZoom();
            map.enableKeyboard();
            map.enableDragging();
            map.enableDoubleClickZoom()
        }
        function addClickHandler(target,window){
            target.addEventListener("click",function(){
                target.openInfoWindow(window);
            });
        }
        function addMapOverlay(){
            var markers = [
                {content:"我的备注",title:"深圳市海德在线有限公司",imageOffset: {width:0,height:3},position:{lat:22.54822,lng:113.939355}}
            ];
            for(var index = 0; index < markers.length; index++ ){
                var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
                var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
                    imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                })});
                var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
                var opts = {
                    width: 200,
                    title: markers[index].title,
                    enableMessage: false
                };
                var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
                marker.setLabel(label);
                addClickHandler(marker,infoWindow);
                map.addOverlay(marker);
            };
        }
        //向地图添加控件
        function addMapControl(){
            var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_TOP_LEFT});
            scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
            map.addControl(scaleControl);
            var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:0});
            map.addControl(navControl);
            var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
            map.addControl(overviewControl);
        }
        var map;
        initMap();
    </script>
</block>