<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>海德在线</title>
    <link rel="stylesheet" href="__CSS__/App/home/newsdetail.css">
    <link rel="stylesheet" href="__CSS__/App/home/newsmodule.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/Base/bootstrap/3.3.0/css/bootstrap.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__JS__/Lib/seajs/2.3.0/sea.js"></script>
    <script type="text/javascript" src="__JS__/Conf/baseConfig.js"></script>
</head>
<body>
<div class="global-nav" style="height: 60px;line-height: 60px;">
    <block name="header"><include file="News:header" /> </block>
</div>
<div class="had-container">
    <div class="news-center">
        <a href="{:U('Index/index')}"><img src="__IMG__/newscenter.png"></a>
        <span>&nbsp;&nbsp;
          <a class="bread-crumbs" href="{:U('News/index')}">  新闻中心</a>
            <span class="bread-crumbs">></span>
            <a class="bread-crumbs" href="{:U('News/index#companyNews')}">公司新闻</a>
        </span>
    </div>
    <div id="companyNews" class="section-news" >
        <p>
        </p><h3 style="text-align:center">91车助手车友会车友莅临海德在线参观</h3>
        <h4 style="text-align:center; color:#666">发布日期：2014-11-16</h4>
        <hr style="border: 1px solid #808080;">
        <br>
        <p class="p-low">
            11月16日，在海德在线乔迁新办公室之际，91车助手车友会车友们自发组织代表前来庆贺海德在线乔迁之喜。
            <br> 91车助手是海德在线的主导产品，91车助手为广大车友们搭建了一个便捷、透明、质优、价廉的一站式在线服务平台，积聚了60万车主会员，海德在线依据91车助手成立了91车助手车友会，旨在为广大91车助手车友们提供一个交流平台，91车助手车友会车友由91车助手平台会员组成，一直以来对海德在线甚为关注，海德在线的发展受到91车助手车友会的大力支持。</p>
        <br>
        <center><img src="__IMG__/cyh-1.jpg" width="600" height="400"  ></center>
        <p></p>
        <center><img src="__IMG__/cyh-2.jpg" width="600" height="400" ></center>
        <p></p>
        <center><img src="__IMG__/cyh-3.jpg" width="600" height="400" ></center>
        <p></p>
        <center><img src="__IMG__/cyh-4.jpg" width="600" height="400" ></center>
        <p></p>
        <center><img src="__IMG__/cyh-5.jpg" width="600" height="400" ></center>
        <p></p>
    </div>
</div>
<div class="global-fluid" style=" background: #666666;">
    <block name="header"><include file="Public:footer" /> </block>
</div>
</body>
</html>