
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>海德在线</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/newsmodule.css">
    <link rel="stylesheet" href="Libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="global-nav" style="height: 60px;line-height: 60px;">
    <div class="had-container">
        <div class="nav-bar" style="height: 40px;width: 100%;line-height: 40px;margin-top:10px;">
            <ul>
                <li >
                    <a href="index.html" id="firstPage">海德首页</a>
                </li>
                <li>
                    <a href="companyInfo.html" id="copanyInfo">公司信息</a>
                    <ul class="company-tab" style="height:220px;margin: 0;">
                        <li> 公司介绍</a></li>
                        <li> <a href="companyInfo.html#president" >总裁寄语</a></li>
                        <li> <a href="companyInfo.html#devCourse" >发展历程</a></li>
                        <li ><a href="companyInfo.html#organization" >组织结构</a></li>
                        <li ><a href="companyInfo.html#coreGroup" >核心团队</a></li>
                    </ul>
                </li>
                <li class="bottom-active" style="width: 120px;">
                    <a href="news.html" id="news">新闻中心</a>
                    <ul class="company-tab" style="height: 140px;padding-top: 10px;" >
                        <li><a href="news.html#companyNews" > 公司新闻</a></li>
                        <li><a href="news.html#industryInformation" >行业资讯</a></li>
                        <li><a href="news.html#companyAnnounce" >企业发布</a></li>
                    </ul>
                </li>
                <li style="width: 120px;">
                    <a href="corporateCulture.html">企业文化</a>
                    <ul class="company-tab" style="height: 380px;padding-top: 10px;">
                        <li><a href="corporateCulture.html#corporateVision" > 企业愿景</a></li>
                        <li><a href="corporateCulture.html#mission" >使命</a></li>
                        <li><a href="corporateCulture.html#purpose" >宗旨</a></li>
                        <li><a href="corporateCulture.html#value" >核心价值观</a></li>
                        <li><a href="corporateCulture.html#culture" >文化品格</a></li>
                        <li><a href="corporateCulture.html#product" >产品理念</a></li>
                        <li><a href="corporateCulture.html#manage" >管理理念</a></li>
                        <li><a href="corporateCulture.html#talent" >人才战略</a></li>
                        <li><a href="corporateCulture.html#hadlink" >海德印象</a></li>
                    </ul>
                </li>
                <li style="width: 120px;">
                    <a href="businessSystem.html">业务体系</a>
                    <ul class="company-tab" style="height: 180px;padding-top: 10px;">
                        <li><a href="businessSystem.html#companyIntro" >开呗</a></li>
                        <li><a href="businessSystem.html#president" >98车讯</a></li>
                        <li><a href="businessSystem.html#devCourse" >深圳分公司</a></li>
                        <li><a href="businessSystem.html#organization" >广州分公司</a></li>
                    </ul>
                </li>

                <li style="width: 120px;">
                    <a href="investor.html">投资者关系</a>
                    <ul class="company-tab" style="height: 140px;padding-top: 10px;" >
                        <li ><a href="investor.html#corporateNotice" > 投资章程</a></li>
                        <li ><a href="investor.html#companyRunReport" >投资者关系</a></li>
                        <li ><a href="investor.html#companyManage" >公司定期专栏</a></li>
                        <!--<li ><a href="investor.html#companyother" >其他动态</a></li>-->
                    </ul>
                </li>
                <li style="width: 130px;">
                    <a href="cooperate.html" id="cooperation">合作洽谈</a>
                    <ul class="company-tab" style="height: 105px;width: 130px;padding-top: 10px;">
                        <li id="navheadquarters" style="width: 120px;" ><a href="cooperate.html#headquarters" > 联系我们</a></li>

                        <li id="navtalentJoin" style="width: 120px;"><a href="cooperate.html#talentJoin" >招贤纳士</a></li>
                        <!--<li id="navoperation" style="width: 120px;"><a href="cooperate.html#operation" >运营推广中心</a></li>-->
                        <!--<li id="nav-business" style="width: 120px;"><a href="cooperate.html#business" >商务拓展中心</a></li>-->
                        <!--<li id="navsupplyChain" style="width: 120px;"><a href="cooperate.html#supplyChain" >供应链管理中心</a></li>-->
                        <!--<li id="navshenzhen" style="width: 120px;"><a href="cooperate.html#shenzhen" >深圳分公司</a></li>-->
                        <!--<li id="navguangzhou" style="width: 120px;"><a href="cooperate.html#guangzhou" >广州分公司</a></li>-->
                    </ul>
                </li>

            </ul>
        </div>
    </div>

</div>
<div class="had-container" style="height: 850px;">
    <div class="news-center">
        <a href="news.html"><img src="images/newscenter.png"></a>
        <span>&nbsp;&nbsp;
          <a class="bread-crumbs" href="news.html">  新闻中心</a>
            <span class="bread-crumbs">></span>
            <a class="bread-crumbs" href="news.html#companyNews">公司新闻</a>
        </span>
    </div>
    <div id="companyNews" class="section-news">
        <h3 style="text-align:center">1元钱检测活动</h3>
        <h4 style="text-align:center; color:#666">发布日期：2015-01-17日</h4>
        <br>

        <a  href="http://www.91czs.com" style="margin-left: 40px;color: #ff9326;"><img src="images/washcar.jpg"></a>
        <p ><strong> &nbsp; &nbsp;&nbsp; &nbsp;活动目的：让我们无忧的开车回家过年</strong>
        <p><strong> &nbsp; &nbsp;&nbsp; &nbsp;活动对象：深圳所有车主的爱车</strong>
        <p><strong> &nbsp; &nbsp;&nbsp; &nbsp;活动时间：2015年1月15日-2015年2月14日</strong>
        <p><strong> &nbsp; &nbsp;&nbsp; &nbsp;活动要求：更多活动优惠尽在“<a style="color: #ff9326;" href="http://www.91czs.com" >开呗</a>”应用</strong>
        <p><strong>&nbsp; &nbsp;&nbsp; &nbsp;<a style="color: #ff9326;" href="http://www.91czs.com">详情进入官方网站 | 扫描下面的二维码</a> </strong></p>
        <br>
        <a  href="http://www.91czs.com" style="margin-left: 40px;color: #ff9326;"><img src="images/erweima.png"></a>


    </div>

</div>
<div class="global-fluid" style=" background: #666666;">
    <div class="had-container" >
        <div class="global-footer">
            <div class="had-container">
                <div class="section-one">
                    <ul >
                        <center><p class="title-font">企业核心价值</p></center>
                        <li style="margin-top: 0;"><a href="corporateCulture.html#value" >激&nbsp;&nbsp;&nbsp;&nbsp;情</a></li>

                        <li ><a href="corporateCulture.html#value" >创&nbsp;&nbsp;&nbsp;&nbsp;新</a></li>

                        <li ><a href="corporateCulture.html#value" >价&nbsp;&nbsp;&nbsp;&nbsp;值</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">公司信息</p></center>
                        <li><a href="companyInfo.html#companyIntro" >海德简介</a></li>
                        <li><a href="companyInfo.html#president" >总裁致辞</a></li>
                        <li><a href="companyInfo.html#devCourse" >发展历程</a></li>
                        <li><a href="companyInfo.html#organization">组织结构</a></li>
                        <li><a href="companyInfo.html#coreGroup" >核心团队</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">业务体系</p></center>
                        <li><a href="businessSystem.html#kaiba" >开呗</a></li>
                        <li><a href="businessSystem.html#carNews" >98车讯</a></li>
                        <li><a href="businessSystem.html#shenzhenBranch" >深圳分公司</a></li>
                        <li><a href="businessSystem.html#guangzhouBranch" >广州分公司</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">企业文化</p></center>
                        <li><a href="corporateCulture.html#corporateVision" >企业愿景</a></li>
                        <li><a href="corporateCulture.html#mission" >企业使命</a></li>
                        <li><a href="corporateCulture.html#purpose" >企业宗旨</a></li>
                        <li><a href="corporateCulture.html#value" targetdiv="div5">核心价值观</a></li>
                        <li><a href="corporateCulture.html#culture" targetdiv="div1">文化品格</a></li>
                        <li><a href="corporateCulture.html#product" targetdiv="div2">产品理念</a></li>
                        <li><a href="corporateCulture.html#talent" targetdiv="div4">人才策略</a></li>
                        <li><a href="corporateCulture.html#hadlink" targetdiv="div5">海德印象</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">投资者关系</p></center>
                        <li><a href="investor.html#corporateNotice" >公司公告</a></li>
                        <li><a href="investor.html#companyRunReport">经营报告</a></li>
                        <li><a href="investor.html#companyManage">公司治理</a></li>
                        <li><a href="investor.html#companyother">其他动态</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">合作洽谈</p></center>
                        <li><a href="cooperate.html#headquarters">联系我们</a></li>
                        <li><a href="cooperate.html#talentJoin">招贤纳士</a></li>
                    </ul>
                </div>
            </div>

            <div class="had-container" style="float: left;">
                <div class="footer-copyright" style="color: #ffffff">
                    <div style="margin-top: 20px;"><center>
                        <script type="text/javascript"> var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254129543'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol+ "s11.cnzz.com/z_stat.php%3Fid%3D1254129543%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                        <span style="color:#dcdcdc"><a href="javascript:void(0)">©2015 深圳市海德在线有限公司版权所有</a>  | <a href="http://www.miitbeian.gov.cn/">粤ICP备14066441号</a></span>
                    </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>