
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>海德在线</title>
    <link rel="stylesheet" href="__CSS__/App/home/newsdetail.css">
    <link rel="stylesheet" href="__CSS__/App/home/newsmodule.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/Base/bootstrap/3.3.0/css/bootstrap.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__JS__/Lib/seajs/2.3.0/sea.js"></script>
    <script type="text/javascript" src="__JS__/Conf/baseConfig.js"></script>
</head>
<body>
<div class="global-nav" style="height: 60px;line-height: 60px;">
    <block name="header"><include file="News:header" /> </block>

</div>
<div class="had-container" style="min-height: 850px;">
    <div class="news-center">
        <a href="{:U('Index/index')}"><img src="__IMG__/newscenter.png"></a>
        <span>&nbsp;&nbsp;
          <a class="bread-crumbs" href="{:U('News/index')}">  新闻中心</a>
            <span class="bread-crumbs">></span>
            <a class="bread-crumbs" href="{:U('News/index#companyNews')}">公司新闻</a>
        </span>
    </div>
    <div id="companyNews" class="section-news" >
        <h3 style="text-align:center">开呗V2.0预约上门服务活动落下帷幕</h3>
        <h4 style="text-align:center; color:#666">发布日期：2015-02-04</h4>
        <hr style="border: 1px solid #808080;">
        <br>
        <p class="p-low">2015年2月4日我公司送出100个0元上门保养活动，在活动发布4个小时内被预约一空，在2月5日-2月14日期间，我公司专业技师对所有预约车主的爱车，进行了上门保养服务，所有预约车主对我们的上门保养服务给予很高的评价，对我公司的技师专业能力、服务态度以及产品质量都非常满意。欢迎更多的车主朋友体验上门保养服务，更多优惠活动尽在“<a style="color: #ff9326;" href="http://www.91czs.com" >开呗</a>”。</p>
        <p><strong>&nbsp; &nbsp;&nbsp; &nbsp;<a style="color: #ff9326" href="http://www.91czs.com">关注我们的微信公众账号 <strong>“开呗”</strong> 进行上门保养预约！</a> </strong></p>
        <br>

        <p><strong>&nbsp; &nbsp;&nbsp; &nbsp;<a style="color: #ff9326;" href="http://www.91czs.com">进入官方网站 | 扫描下面的二维码！</a> </strong>
            <a  href="http://www.ikaibei.com" style="margin-left: 40px;color: #ff9326;"><img src="__IMG__/erweima.png"></a>
        </p>
        <br>
        <center><img src="__IMG__/mt05.png" width="800" height="600"></center><br>

        <center><img src="__IMG__/mt02.png" width="800" height="600"></center><br>
        <center><img src="__IMG__/mt03.png" width="800" height="600"></center><br>
        <center><img src="__IMG__/mt04.png" width="800" height="600"></center>
    </div>

</div>
<div class="global-fluid" style=" background: #666666;">
    <block name="header"><include file="Public:footer" /> </block>
</div>
</body>
</html>