<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>私家车主+汽车实体店+第三方平台=创新</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/newsmodule.css">
    <link rel="stylesheet" href="Libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="global-nav" style="height: 60px;line-height: 60px;">
    <div class="had-container">
        <div class="nav-bar" style="height: 40px;width: 100%;line-height: 40px;margin-top:10px;">
            <ul>
                <li >
                    <a href="index.html" id="firstPage">海德首页</a>
                </li>
                <li>
                    <a href="companyInfo.html" id="copanyInfo">公司信息</a>
                    <ul class="company-tab" style="height:220px;margin: 0;">
                        <li> 公司介绍</a></li>
                        <li> <a href="companyInfo.html#president" >总裁寄语</a></li>
                        <li> <a href="companyInfo.html#devCourse" >发展历程</a></li>
                        <li ><a href="companyInfo.html#organization" >组织结构</a></li>
                        <li ><a href="companyInfo.html#coreGroup" >核心团队</a></li>
                    </ul>
                </li>
                <li class="bottom-active" style="width: 120px;">
                    <a href="news.html" id="news">新闻中心</a>
                    <ul class="company-tab" style="height: 140px;padding-top: 10px;" >
                        <li><a href="news.html#companyNews" > 公司新闻</a></li>
                        <li><a href="news.html#industryInformation" >行业资讯</a></li>
                        <li><a href="news.html#companyAnnounce" >企业发布</a></li>
                    </ul>
                </li>
                <li style="width: 120px;">
                    <a href="corporateCulture.html">企业文化</a>
                    <ul class="company-tab" style="height: 380px;padding-top: 10px;">
                        <li><a href="corporateCulture.html#corporateVision" > 企业愿景</a></li>
                        <li><a href="corporateCulture.html#mission" >使命</a></li>
                        <li><a href="corporateCulture.html#purpose" >宗旨</a></li>
                        <li><a href="corporateCulture.html#value" >核心价值观</a></li>
                        <li><a href="corporateCulture.html#culture" >文化品格</a></li>
                        <li><a href="corporateCulture.html#product" >产品理念</a></li>
                        <li><a href="corporateCulture.html#manage" >管理理念</a></li>
                        <li><a href="corporateCulture.html#talent" >人才战略</a></li>
                        <li><a href="corporateCulture.html#hadlink" >海德印象</a></li>
                    </ul>
                </li>
                <li style="width: 120px;">
                    <a href="businessSystem.html">业务体系</a>
                    <ul class="company-tab" style="height: 180px;padding-top: 10px;">
                        <li><a href="businessSystem.html#companyIntro" >开呗</a></li>
                        <li><a href="businessSystem.html#president" >98车讯</a></li>
                        <li><a href="businessSystem.html#devCourse" >深圳分公司</a></li>
                        <li><a href="businessSystem.html#organization" >广州分公司</a></li>
                    </ul>
                </li>

                <li style="width: 120px;">
                    <a href="investor.html">投资者关系</a>
                    <ul class="company-tab" style="height: 140px;padding-top: 10px;" >
                        <li ><a href="investor.html#corporateNotice" > 投资章程</a></li>
                        <li ><a href="investor.html#companyRunReport" >投资者关系</a></li>
                        <li ><a href="investor.html#companyManage" >公司定期专栏</a></li>
                        <!--<li ><a href="investor.html#companyother" >其他动态</a></li>-->
                    </ul>
                </li>
                <li style="width: 130px;">
                    <a href="cooperate.html" id="cooperation">合作洽谈</a>
                    <ul class="company-tab" style="height: 105px;width: 130px;padding-top: 10px;">
                        <li id="navheadquarters" style="width: 120px;" ><a href="cooperate.html#headquarters" > 联系我们</a></li>

                        <li id="navtalentJoin" style="width: 120px;"><a href="cooperate.html#talentJoin" >招贤纳士</a></li>
                        <!--<li id="navoperation" style="width: 120px;"><a href="cooperate.html#operation" >运营推广中心</a></li>-->
                        <!--<li id="nav-business" style="width: 120px;"><a href="cooperate.html#business" >商务拓展中心</a></li>-->
                        <!--<li id="navsupplyChain" style="width: 120px;"><a href="cooperate.html#supplyChain" >供应链管理中心</a></li>-->
                        <!--<li id="navshenzhen" style="width: 120px;"><a href="cooperate.html#shenzhen" >深圳分公司</a></li>-->
                        <!--<li id="navguangzhou" style="width: 120px;"><a href="cooperate.html#guangzhou" >广州分公司</a></li>-->
                    </ul>
                </li>

            </ul>
        </div>
    </div>

</div>
<div class="had-container">
    <div class="news-center">
        <a href="news.html"><img src="images/newscenter.png"></a>
        <span>&nbsp;&nbsp;
          <a class="bread-crumbs" href="news.html">  新闻中心</a>
            <span class="bread-crumbs">></span>
            <a class="bread-crumbs" href="news.html#industryInformation">行业资讯</a>
        </span>
    </div>
    <div id="companyNews" class="section-news" >
        <p>
        </p><h3 style="text-align:center">私家车主+汽车实体店+第三方平台=创新</h3>
        <h4 style="text-align:center; color:#666">发布日期：2014-9-30</h4>
        <hr style="border: 1px solid #808080;">
        <br>
        <p class="p-low">
            汽车后市场领域发展至今一直成为热议话题，从汽车后市场综合服务平台——汽车上门洗车——汽车上门保养——？？？（也许会是快修）下一个商家到底在何处？笔者一一解析！</p>
        <p class="p-low"> 作为一名私家车主，从购车到出保——选择汽车实体店服务店（维修厂）基于传统模式，普遍情况是亲朋好友的口碑宣传，那么私家车主何时开始选择将跳出传统领域，走进互联网或移动互联时代，首先考虑的是品牌的认可度、知名度、可信度等，再考虑质量问题、服务问题。有些前卫的私家车主，拥有一刻好奇的心或互联网思维，进行体验。</p>
        <p class="p-low"> 汽车实体店boss大部分还是以传统玩法进行中，选址——装修——营业——服务周边人群——不温不热状态——如果没有主推产品、过硬技术、高效率的服务，基本活不长。那么还有一部分boss再尝试或已经走在互联网的路上。以传统的营销策略上，增加互联网投放，营业额基本处于增长状态。</p>

        <p class="p-low">
            第三方服务平台每日都在研究最新的商业模式、细节的完善、资金的保证、人员的培训等等一系列标准化体系，都想成为业内的一道亮丽风景线，成为标杆，让后人效仿。但汽车后市场领域发展速度甚快，在做内部优化阶段，如果用户忽略，最终笔者看来，也不会太理想。
        </p>

        <p class="p-low">
            如今中国汽车市场速度如日冲天，很多私家车主购买爱车后，由于对爱车缺乏专业知识+4S店销售人员添油加醋，导致新车主或准车主车辆再保内基本都在4S店进行爱车养护。毫无疑问4S店价格确实太高了，但作为车主，我如何选择一个靠谱维修厂呢？基本来源亲朋好友介绍，但质量和服务确实说不好，于是通过互联网了解第三方服务平台，通过第三方服务平台选择维修厂，如在维修、保养过程中出现问题，第三方平台是否能够优先处理用户问题等等，因体系不够完善。
        </p>

        <p class="p-low">
            所谓的创新就是将别人看不起眼、不想做的、不愿意做的事情进行资源整合，说句简单的，也就是车友会的运营，进行零散车友会资源整合。就笔者了解，如今主流汽车媒体BBS将把精力从一线城市转入到二三线城市，选择地方车友会进行合作，并利用一切可执行的方案进行拉拢，从而实现自身庞大的车友（用户）体系，我们不能看出，各大主流媒体也开始蠢蠢欲动，只不过是时机不成熟而已。那么这些主流媒体最终会成功整合这些车友会吗？也许是一个未知数！
        </p>
    </div>
</div>
<div class="global-fluid" style=" background: #666666;">
    <div class="had-container" >
        <div class="global-footer">
            <div class="had-container">
                <div class="section-one">
                    <ul >
                        <center><p class="title-font">企业核心价值</p></center>
                        <li style="margin-top: 0;"><a href="corporateCulture.html#value" >激&nbsp;&nbsp;&nbsp;&nbsp;情</a></li>

                        <li ><a href="corporateCulture.html#value" >创&nbsp;&nbsp;&nbsp;&nbsp;新</a></li>

                        <li ><a href="corporateCulture.html#value" >价&nbsp;&nbsp;&nbsp;&nbsp;值</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">公司信息</p></center>
                        <li><a href="companyInfo.html#companyIntro" >海德简介</a></li>
                        <li><a href="companyInfo.html#president" >总裁致辞</a></li>
                        <li><a href="companyInfo.html#devCourse" >发展历程</a></li>
                        <li><a href="companyInfo.html#organization">组织结构</a></li>
                        <li><a href="companyInfo.html#coreGroup" >核心团队</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">业务体系</p></center>
                        <li><a href="businessSystem.html#kaiba" >开呗</a></li>
                        <li><a href="businessSystem.html#carNews" >98车讯</a></li>
                        <li><a href="businessSystem.html#shenzhenBranch" >深圳分公司</a></li>
                        <li><a href="businessSystem.html#guangzhouBranch" >广州分公司</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">企业文化</p></center>
                        <li><a href="corporateCulture.html#corporateVision" >企业愿景</a></li>
                        <li><a href="corporateCulture.html#mission" >企业使命</a></li>
                        <li><a href="corporateCulture.html#purpose" >企业宗旨</a></li>
                        <li><a href="corporateCulture.html#value" targetdiv="div5">核心价值观</a></li>
                        <li><a href="corporateCulture.html#culture" targetdiv="div1">文化品格</a></li>
                        <li><a href="corporateCulture.html#product" targetdiv="div2">产品理念</a></li>
                        <li><a href="corporateCulture.html#talent" targetdiv="div4">人才策略</a></li>
                        <li><a href="corporateCulture.html#hadlink" targetdiv="div5">海德印象</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">投资者关系</p></center>
                        <li><a href="investor.html#corporateNotice" >公司公告</a></li>
                        <li><a href="investor.html#companyRunReport">经营报告</a></li>
                        <li><a href="investor.html#companyManage">公司治理</a></li>
                        <li><a href="investor.html#companyother">其他动态</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">合作洽谈</p></center>
                        <li><a href="cooperate.html#headquarters">联系我们</a></li>
                        <li><a href="cooperate.html#talentJoin">招贤纳士</a></li>
                    </ul>
                </div>
            </div>

            <div class="had-container" style="float: left;">
                <div class="footer-copyright" style="color: #ffffff">
                    <div style="margin-top: 20px;"><center>
                        <script type="text/javascript"> var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254129543'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol+ "s11.cnzz.com/z_stat.php%3Fid%3D1254129543%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                        <span style="color:#dcdcdc"><a href="javascript:void(0)">©2015 深圳市海德在线有限公司版权所有</a>  | <a href="http://www.miitbeian.gov.cn/">粤ICP备14066441号</a></span>
                    </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>