
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>海德在线</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/newsmodule.css">
    <link rel="stylesheet" href="Libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="global-nav" style="height: 60px;line-height: 60px;">
    <div class="had-container">
        <div class="nav-bar" style="height: 40px;width: 100%;line-height: 40px;margin-top:10px;">
            <ul>
                <li >
                    <a href="index.html" id="firstPage">海德首页</a>
                </li>
                <li>
                    <a href="companyInfo.html" id="copanyInfo">公司信息</a>
                    <ul class="company-tab" style="height:220px;margin: 0;">
                        <li> 公司介绍</a></li>
                        <li> <a href="companyInfo.html#president" >总裁寄语</a></li>
                        <li> <a href="companyInfo.html#devCourse" >发展历程</a></li>
                        <li ><a href="companyInfo.html#organization" >组织结构</a></li>
                        <li ><a href="companyInfo.html#coreGroup" >核心团队</a></li>
                    </ul>
                </li>
                <li class="bottom-active" style="width: 120px;">
                    <a href="news.html" id="news">新闻中心</a>
                    <ul class="company-tab" style="height: 140px;padding-top: 10px;" >
                        <li><a href="news.html#companyNews" > 公司新闻</a></li>
                        <li><a href="news.html#industryInformation" >行业资讯</a></li>
                        <li><a href="news.html#companyAnnounce" >企业发布</a></li>
                    </ul>
                </li>
                <li style="width: 120px;">
                    <a href="corporateCulture.html">企业文化</a>
                    <ul class="company-tab" style="height: 380px;padding-top: 10px;">
                        <li><a href="corporateCulture.html#corporateVision" > 企业愿景</a></li>
                        <li><a href="corporateCulture.html#mission" >使命</a></li>
                        <li><a href="corporateCulture.html#purpose" >宗旨</a></li>
                        <li><a href="corporateCulture.html#value" >核心价值观</a></li>
                        <li><a href="corporateCulture.html#culture" >文化品格</a></li>
                        <li><a href="corporateCulture.html#product" >产品理念</a></li>
                        <li><a href="corporateCulture.html#manage" >管理理念</a></li>
                        <li><a href="corporateCulture.html#talent" >人才战略</a></li>
                        <li><a href="corporateCulture.html#hadlink" >海德印象</a></li>
                    </ul>
                </li>
                <li style="width: 120px;">
                    <a href="businessSystem.html">业务体系</a>
                    <ul class="company-tab" style="height: 180px;padding-top: 10px;">
                        <li><a href="businessSystem.html#companyIntro" >开呗</a></li>
                        <li><a href="businessSystem.html#president" >98车讯</a></li>
                        <li><a href="businessSystem.html#devCourse" >深圳分公司</a></li>
                        <li><a href="businessSystem.html#organization" >广州分公司</a></li>
                    </ul>
                </li>

                <li style="width: 120px;">
                    <a href="investor.html">投资者关系</a>
                    <ul class="company-tab" style="height: 140px;padding-top: 10px;" >
                        <li ><a href="investor.html#corporateNotice" > 投资章程</a></li>
                        <li ><a href="investor.html#companyRunReport" >投资者关系</a></li>
                        <li ><a href="investor.html#companyManage" >公司定期专栏</a></li>
                        <!--<li ><a href="investor.html#companyother" >其他动态</a></li>-->
                    </ul>
                </li>
                <li style="width: 130px;">
                    <a href="cooperate.html" id="cooperation">合作洽谈</a>
                    <ul class="company-tab" style="height: 105px;width: 130px;padding-top: 10px;">
                        <li id="navheadquarters" style="width: 120px;" ><a href="cooperate.html#headquarters" > 联系我们</a></li>

                        <li id="navtalentJoin" style="width: 120px;"><a href="cooperate.html#talentJoin" >招贤纳士</a></li>
                        <!--<li id="navoperation" style="width: 120px;"><a href="cooperate.html#operation" >运营推广中心</a></li>-->
                        <!--<li id="nav-business" style="width: 120px;"><a href="cooperate.html#business" >商务拓展中心</a></li>-->
                        <!--<li id="navsupplyChain" style="width: 120px;"><a href="cooperate.html#supplyChain" >供应链管理中心</a></li>-->
                        <!--<li id="navshenzhen" style="width: 120px;"><a href="cooperate.html#shenzhen" >深圳分公司</a></li>-->
                        <!--<li id="navguangzhou" style="width: 120px;"><a href="cooperate.html#guangzhou" >广州分公司</a></li>-->
                    </ul>
                </li>

            </ul>
        </div>
    </div>

</div>
<div class="had-container" >
    <div class="news-center">
        <a href="news.html"><img src="images/newscenter.png"></a>
        <span>&nbsp;&nbsp;
          <a class="bread-crumbs" href="news.html">  新闻中心</a>
            <span class="bread-crumbs">></span>
            <a class="bread-crumbs" href="news.html#industryInformation">行业资讯</a>
        </span>
    </div>
    <div id="companyNews" class="section-news" style="min-height: 2800px; ">
        <h3 style="text-align:center">汽车后市场互联网思维,这7点你必须知道! </h3>
        <h4 style="text-align:center; color:#666">发布日期：2014-9-30</h4>
        <p>
        <center><img src="images/after.jpg" width="600"></center>
        </p>
        <p class="p-low">
           汽车后市场这个巨大的利润场已成大势所向，大家都要来分一杯羹，你要怎么办？下面七点让你快速了解汽车后市场互联网。</p>
        <p class="p-low"> <strong>一、未来市场这么大，肯定有一块是你的。</strong></p>
        <p class="p-low"> 汽车实体店boss大部分还是以传统玩法进行中，选址——装修——营业——服务周边人群——不温不热状态——如果没有主推产品、过硬技术、高效率的服务，基本活不长。那么还有一部分boss再尝试或已经走在互联网的路上。以传统的营销策略上，增加互联网投放，营业额基本处于增长状态。</p>
        <center><img src="images/after1.jpg" width="600"></center>
        <p class="p-low">
            互联网的发展大家都看在眼里，互联网对各个行业的发展不能说不深远。别的暂且不论，我们先来看看互联网引动的巨大利润场。
        </p>

        <p class="p-low">
            2015 年中国汽车售后服务市场规模超过7000 亿元，汽车保有量与平均车龄的持续增长推动后市场进入快速成长阶段；目前我国汽车保有量1.3亿辆，预计未来几年将维持20%左右的高速增长，最终有望达到4 亿辆；当前我国平均车龄仅4 年左右，距离成熟汽车市场车龄水平仍有较大提升空间。
        </p>

        <p class="p-low">
            而新车销量增速逐渐放缓，汽车产业链价值中枢将向后端转移。预计未来十年汽车后市场有望达到4-5 万亿的规模；同时，市场结构的变化将带来新的投资机会，有品牌、有性价比的第三方维修连锁值得持续关注。
        </p>
        <center><img src="images/after2.jpg" width="600"></center>
        <p class="p-low">
            假设一个车主一年花在汽车维修保养上的费用平均为1000元，如果车主愿意将其中的400元用于在线购买服务，那么五年后汽车后市场服务在线交易额的保守预测是1764亿。
        </p>
        <center><img src="images/after4.jpg" width="600"></center>

        <p class="p-low">

            <strong>二、大佬也来抢生意，抓住机会拼专业。</strong>
        </p>

        <p class="p-low">

            11 月 3 日，淘宝联手北京、上海等 200 余城市线下超过 3 万汽修服务网点，进入“汽车后服务”市场，为国内 6000 万私家车主提供线上线下一体化的汽车维修到日常保养。届时，车主可直接在线购买各种汽车配件，并直接预约线下就近汽修服务点的相关服务。</p>
        <p class="p-low">&nbsp; &nbsp; 大佬来抢生意，打不过就钻空子，拼不过财力拼专业，借力打力也是盈利的好方式。且不说支付宝改变了大家依赖银行的习惯，大众点评改变了大家传统的生活方式，滴滴打车改变了大家出行的习惯，从网络发展至今，从PC互联网到移动互联网终端，已经出现了太多改变大家传统思想的产品。
            <center><img src="images/after5.jpg" width="600"></center>
        </p>
        <p class="p-low">

            从淘宝此次动作来看，汽车行业的移动互联网终端必将大有作为。汽车行业要自己行动起来，还是看着淘宝再次“小垄断”汽车后市场？只带一部手机就能走天下的感觉，你想体会一下吗？跟着大部队，或许在未来真的可以吃香的喝辣的也说不定呢。
        </p>

        <p class="p-low">
             <strong>三、汽车消费挑战机遇并存，我们来找主流人群。</strong>
        </p>
        <center> <img src="images/after6.jpg" width="600"></center>
        <p class="p-low">手机网民5.27亿，智能手机高度普及，逐步进入移动互联网时代。人均周上网时间接近26小时并不断增加。看看数据，擦擦眼睛，商机在哪里呢？</p>

        <p class="p-low"><strong>四、移动互联时代等于social的时代。</strong></p>

        <p class="p-low">
            1.信息传播“碎片化”
        </p>

        <p class="p-low">
            在地铁里、公交车上、路边、餐馆处处遍布玩手机、玩各种pad的“低头族”，消费者接触信息变得更加碎片化；
        </p>

        <p class="p-low">
            2.不断对话，需要互动
        </p>

        <p class="p-low">
            社交媒体是用来聆听的，他不是广播的扩音器而是用于不断对话的咖啡店。
        </p>

        <p class="p-low">
            3.消费者对品牌产生巨大影响力
        </p>

        <p class="p-low">
            当人们对于你的品牌有正面体验时，他们就会告诉一两个朋友自己的使用经验。但是，当有人对于你的品牌有负面体验时，他们会告诉11个人自己的糟糕经历。这还是没有考虑互联网信息传播巨大的影响力，事实上，互联网能够以十倍甚至百倍的规模来传播信息。
        </p>

        <p class="p-low">
            4.用户开始掌管我们的品牌，掌控着品牌的认知度
        </p>

        <p class="p-low">
            谁来掌控品牌已经发生了质的变化。这是消费者的世界。消费者开始掌管你的品牌，而不是你，而且消费者所想和所说的会以光速在全世界传播。消费者和你一样掌控着品牌的认知度。挑战与机遇并存。
        </p>

        <p class="p-low"></p>有了KOL，（KOL=Key Opinion Leader 有话语权的主要人群）网络营销做什么？
        <center><img src="images/after7.jpg" width="600"></center>

        <p class="p-low">
            <strong>五、车联网要借鉴移动互联网新思维，然后进行独创。</strong>
        </p>

        <p class="p-low">
            1.我们之前就提到的碎片化思维，不管是在时间，地点还是需求全部碎片化。搞清需求是王道。
        </p>

        <p class="p-low">
            2.粉丝思维。得粉丝者得天下，没有粉丝就没有流量，但是有了流量还得有产品。
        </p>

        <p class="p-low">
            3.焦点思维。知道在互联网世界里，不做什么比“做什么”更重要。
        </p>

        <p class="p-low">
            4.快一步思维。互联网发展飞快，你的脑子在转，别人转得比你还快，怎么获得优势时间，把握前沿奠定自身很重要。
        </p>

        <p class="p-low">
            5.第一思维。互联网时代，只有第一，没有第二。第一是正规厂家，第二是山寨。
        </p>

        <p class="p-low">
            <strong>六、传统企业要致胜，与时俱进走前沿。</strong>
        </p>

        <p class="p-low">
            <strong>汽车推广前先思考，市场现状是什么样：</strong><br>
        </p>

        <p class="p-low">
            1．汽车电商的盛行及直销O2O的影响力
        </p>
        <p class="p-low">
            2．市场价格的透明度越来越高
        </p>
        <p class="p-low">
            3．十部委发布的各项信息
        </p>
        <p class="p-low">

            4．主机厂的成本及愿景越来越不好控制
        </p>
        <p class="p-low">
            5．经销商的经营成本越来越高
        </p>
        <p class="p-low">
            6．经济情势越来越严峻但又迈向希望
        </p>
        <p class="p-low">
            7．电动车的盛行逼近传统车的需求
        </p>
        <p class="p-low">
            我们必须要改变方法才能致胜！
        </p>
        <p class="p-low">
            <strong>七、搞清概念搞产品，你要比别人更会炒这盘菜。</strong>
            <center><img src="images/after8.jpg" width="600"></center>
        </p>
        <p class="p-low">
            中国汽车后市场发展趋势是：
            <center><img src="images/after9.jpg" width="600"></center>
        <center><img src="images/after10.jpg" width="600"></center>

        </p>
        <p class="p-low">
            接下来要做的是：
        </p>
        <p class="p-low">
            <strong>1.掌握大量的忠诚的客户资源，并对其进行细分预约管理</strong>
        </p>
        <p class="p-low">
            <strong>2.整合优质供应链及终端渠道，为车主提供标准化专业服务</strong>
        </p>
        <p class="p-low">
            <strong>3.构建先进的稳定的运营支撑，确保各项服务通畅及安全运营</strong>
        </p>
        <p class="p-low">
            <strong>4.利用高科技现代化通讯手段，对车辆进行实时互动管理</strong>
        </p>
    </div>

</div>
<div class="global-fluid" style=" background: #666666;">
    <div class="had-container" >
        <div class="global-footer">
            <div class="had-container">
                <div class="section-one">
                    <ul >
                        <center><p class="title-font">企业核心价值</p></center>
                        <li style="margin-top: 0;"><a href="corporateCulture.html#value" >激&nbsp;&nbsp;&nbsp;&nbsp;情</a></li>

                        <li ><a href="corporateCulture.html#value" >创&nbsp;&nbsp;&nbsp;&nbsp;新</a></li>

                        <li ><a href="corporateCulture.html#value" >价&nbsp;&nbsp;&nbsp;&nbsp;值</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">公司信息</p></center>
                        <li><a href="companyInfo.html#companyIntro" >海德简介</a></li>
                        <li><a href="companyInfo.html#president" >总裁致辞</a></li>
                        <li><a href="companyInfo.html#devCourse" >发展历程</a></li>
                        <li><a href="companyInfo.html#organization">组织结构</a></li>
                        <li><a href="companyInfo.html#coreGroup" >核心团队</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">业务体系</p></center>
                        <li><a href="businessSystem.html#kaiba" >开呗</a></li>
                        <li><a href="businessSystem.html#carNews" >98车讯</a></li>
                        <li><a href="businessSystem.html#shenzhenBranch" >深圳分公司</a></li>
                        <li><a href="businessSystem.html#guangzhouBranch" >广州分公司</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">企业文化</p></center>
                        <li><a href="corporateCulture.html#corporateVision" >企业愿景</a></li>
                        <li><a href="corporateCulture.html#mission" >企业使命</a></li>
                        <li><a href="corporateCulture.html#purpose" >企业宗旨</a></li>
                        <li><a href="corporateCulture.html#value" targetdiv="div5">核心价值观</a></li>
                        <li><a href="corporateCulture.html#culture" targetdiv="div1">文化品格</a></li>
                        <li><a href="corporateCulture.html#product" targetdiv="div2">产品理念</a></li>
                        <li><a href="corporateCulture.html#talent" targetdiv="div4">人才策略</a></li>
                        <li><a href="corporateCulture.html#hadlink" targetdiv="div5">海德印象</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">投资者关系</p></center>
                        <li><a href="investor.html#corporateNotice" >公司公告</a></li>
                        <li><a href="investor.html#companyRunReport">经营报告</a></li>
                        <li><a href="investor.html#companyManage">公司治理</a></li>
                        <li><a href="investor.html#companyother">其他动态</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">合作洽谈</p></center>
                        <li><a href="cooperate.html#headquarters">海德在线</a></li>
                        <li><a href="cooperate.html#talentJoin">招贤纳士</a></li>
                        <li><a href="cooperate.html#operation">运行推广中心</a></li>
                        <li><a href="cooperate.html#business" >商务拓展中心</a></li>
                        <li><a href="cooperate.html#supplyChain" >供应链管理中心</a></li>
                        <li><a href="cooperate.html#shenzhenBranch">深圳分公司</a></li>
                        <li><a href="cooperate.html#guangzhou">广州分公司</a></li>
                    </ul>
                </div>
            </div>

            <div class="had-container" style="float: left;">
                <div class="footer-copyright" style="color: #ffffff">
                    <div style="margin-top: 20px;"><center>
                        <script type="text/javascript"> var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254129543'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol+ "s11.cnzz.com/z_stat.php%3Fid%3D1254129543%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                        <span style="color:#dcdcdc"><a href="javascript:void(0)">©2015 深圳市海德在线有限公司版权所有</a>  | <a href="http://www.miitbeian.gov.cn/">粤ICP备14066441号</a></span>
                    </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>