<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>海德在线</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/newsmodule.css">
    <link rel="stylesheet" href="Libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="global-nav" style="height: 60px;line-height: 60px;">
    <div class="had-container">
        <div class="nav-bar" style="height: 40px;width: 100%;line-height: 40px;margin-top:10px;">
            <ul>
                <li >
                    <a href="index.html" id="firstPage">海德首页</a>
                </li>
                <li>
                    <a href="companyInfo.html" id="copanyInfo">公司信息</a>
                    <ul class="company-tab" style="height:220px;margin: 0;">
                        <li> 公司介绍</a></li>
                        <li> <a href="companyInfo.html#president" >总裁寄语</a></li>
                        <li> <a href="companyInfo.html#devCourse" >发展历程</a></li>
                        <li ><a href="companyInfo.html#organization" >组织结构</a></li>
                        <li ><a href="companyInfo.html#coreGroup" >核心团队</a></li>
                    </ul>
                </li>
                <li class="bottom-active" style="width: 120px;">
                    <a href="news.html" id="news">新闻中心</a>
                    <ul class="company-tab" style="height: 140px;padding-top: 10px;" >
                        <li><a href="news.html#companyNews" > 公司新闻</a></li>
                        <li><a href="news.html#industryInformation" >行业资讯</a></li>
                        <li><a href="news.html#companyAnnounce" >企业发布</a></li>
                    </ul>
                </li>
                <li style="width: 120px;">
                    <a href="corporateCulture.html">企业文化</a>
                    <ul class="company-tab" style="height: 380px;padding-top: 10px;">
                        <li><a href="corporateCulture.html#corporateVision" > 企业愿景</a></li>
                        <li><a href="corporateCulture.html#mission" >使命</a></li>
                        <li><a href="corporateCulture.html#purpose" >宗旨</a></li>
                        <li><a href="corporateCulture.html#value" >核心价值观</a></li>
                        <li><a href="corporateCulture.html#culture" >文化品格</a></li>
                        <li><a href="corporateCulture.html#product" >产品理念</a></li>
                        <li><a href="corporateCulture.html#manage" >管理理念</a></li>
                        <li><a href="corporateCulture.html#talent" >人才战略</a></li>
                        <li><a href="corporateCulture.html#hadlink" >海德印象</a></li>
                    </ul>
                </li>
                <li style="width: 120px;">
                    <a href="businessSystem.html">业务体系</a>
                    <ul class="company-tab" style="height: 180px;padding-top: 10px;">
                        <li><a href="businessSystem.html#companyIntro" >开呗</a></li>
                        <li><a href="businessSystem.html#president" >98车讯</a></li>
                        <li><a href="businessSystem.html#devCourse" >深圳分公司</a></li>
                        <li><a href="businessSystem.html#organization" >广州分公司</a></li>
                    </ul>
                </li>

                <li style="width: 120px;">
                    <a href="investor.html">投资者关系</a>
                    <ul class="company-tab" style="height: 140px;padding-top: 10px;" >
                        <li ><a href="investor.html#corporateNotice" > 投资章程</a></li>
                        <li ><a href="investor.html#companyRunReport" >投资者关系</a></li>
                        <li ><a href="investor.html#companyManage" >公司定期专栏</a></li>
                        <!--<li ><a href="investor.html#companyother" >其他动态</a></li>-->
                    </ul>
                </li>
                <li style="width: 130px;">
                    <a href="cooperate.html" id="cooperation">合作洽谈</a>
                    <ul class="company-tab" style="height: 105px;width: 130px;padding-top: 10px;">
                        <li id="navheadquarters" style="width: 120px;" ><a href="cooperate.html#headquarters" > 联系我们</a></li>

                        <li id="navtalentJoin" style="width: 120px;"><a href="cooperate.html#talentJoin" >招贤纳士</a></li>
                        <!--<li id="navoperation" style="width: 120px;"><a href="cooperate.html#operation" >运营推广中心</a></li>-->
                        <!--<li id="nav-business" style="width: 120px;"><a href="cooperate.html#business" >商务拓展中心</a></li>-->
                        <!--<li id="navsupplyChain" style="width: 120px;"><a href="cooperate.html#supplyChain" >供应链管理中心</a></li>-->
                        <!--<li id="navshenzhen" style="width: 120px;"><a href="cooperate.html#shenzhen" >深圳分公司</a></li>-->
                        <!--<li id="navguangzhou" style="width: 120px;"><a href="cooperate.html#guangzhou" >广州分公司</a></li>-->
                    </ul>
                </li>

            </ul>
        </div>
    </div>

</div>
<div class="had-container">
    <div class="news-center">
        <a href="news.html"><img src="images/newscenter.png"></a>
        <span>&nbsp;&nbsp;
          <a class="bread-crumbs" href="news.html">  新闻中心</a>
            <span class="bread-crumbs">></span>
            <a class="bread-crumbs" href="news.html#companyNews">公司新闻</a>
        </span>
    </div>
    <div id="companyNews" class="section-news" >
        <p>
        </p><h3 style="text-align:center">91车助手APP1.0盛大上线庆功晚宴</h3>
        <h4 style="text-align:center; color:#666">发布日期：2014-11-29</h4>
        <hr style="border: 1px solid #808080;">
        <br>
        <p class="p-low">
             11月29日，对海德在线来说是又一个重大的日子，<mark><a style="color: #ff9326;" target="_blank"  href="http://www.ikaibei.com">91车助手</a></mark>APP1.0在这天盛大上线，启动内测，<mark><a style="color: #ff9326;" target="_blank"  href="http://www.91czs.com">91车助手</a></mark>APP1.0经过产品中心长达一个月的策划，再由研发中心在11月份日以继夜的开发，终于在11月29日这天上线内测。</p>
            <p class="p-low"> 是夜，海德在线在总裁俱乐部渔舟畅碗酒楼举行了隆重的庆功晚宴，程总在晚宴开始之前先对公司全体同仁为保障<mark><a style="color: #ff9326;" target="_blank"  href="http://www.ikaibei.com">91车助手</a></mark>APP1.0在11月29日顺利上线做出努力的表示感谢，其中有运营中心、支持中心，特别是产品中心和研发中心的伙伴们，程总在表彰会上多次强调，在海德在线的企业文化里面，没有优秀的个人，只有优秀的团队，每个优秀的个人在这个团队里面都只是一个单独的个体，但是在优秀的团队里面一定会有优秀的个人，在越优秀的团队里面优秀的个人越多。海德在线在整个<mark><a style="color: #ff9326;" target="_blank"  href="http://www.91czs.com">91车助手</a></mark>APP1.0项目开发过程，每一个部门，每一个伙伴都付出了自己的艰辛努力，同时更加涌现出了许多具有代表性的杰出个人，如研发中心胡建祥，一个人挑起IOS端APP的大梁；研发中心谭亚，来到海德在线的时间虽然不长却是被海德在线的企业文化深深影响，自觉的把包括周日在内每一天都投入到紧张的项目开发中去；研发中心吕芳兵，在转型过程中边学边工作，在很短的时间顺利适宜了转型，独立开发出了多个页面。表彰过后，胡建祥和谭亚两位同事分别发表了简短的感言，重点分享了个人对海德在线的高度认同感，并且在以后的工作中全力以赴把所有精力都投入到未来的工作中去，为海德在线在接下来的项目开发中做出更大的努力。</p>
            <p class="p-low"> 在表彰完研发中心的伙伴之后又表彰了产品中心，产品中心的伙伴们担纲起了整个产品策划、产品原型的出具、界面规划、交互设计、用户体验等工作，在整个产品策划期间罗焕军、温元达、刘磊三位伙伴在工作中的表现赢得了海德在线所有伙伴们的一致认可，罗焕军等三位伙伴也分享了个人在海德在线这个大家庭工作的点滴感受，对每位伙伴，每一个部门以及公司表达出了美好的期盼，期望能在海德在线未来的发展中齐心协力，圆满达成公司的每一个阶段性战略目标。</p>
            <p class="p-low"> 颁奖环节过后，程总与每一位海德在线的伙伴们都一一碰杯，以感谢所有海德在线伙伴们为公司作出的努力，并对此次表彰大会做了发自肺腑的总结，程总说：在颁完奖之后，我其实无法用表彰来表达我此时的心情，我经常问我自己这个问题，什么叫企业文化？什么叫团队？什么叫价值观？海德在线创立发展到现在，我看到了每一位同仁对海德在线的认同、拥有的激情、付出的努力，我们海德在线激情、创新、价值的核心价值观，在每一位同仁身上得到了体现，我非常感谢大家，感恩每一位陪同海德在线成长的伙伴，我未来能做的只有分享，分享海德在线将来的成果，让每一位海德在线的伙伴们的拼搏与努力都值得，让每一位海德在线同仁的家人、朋友、亲人因为你们在海德在线而自豪。程总声情并茂的总结打动了每一位在座的同仁，也把庆功晚宴的气氛推向了最高潮，最后海德在线全体同仁高举手中酒杯，一饮而尽，全场沉寂了几秒钟，却有一个坚实的声音在所有海德在线同仁的心中响起：我们将迎接每一个挑战，攻克每一个难关，上下凝聚一心，把海德在线这艘大船合力驶向成功的彼岸。</p>
        <center><img src="images/app-1.jpg" width="600" height="400" ></center>
        <h3 style=" text-align:center; padding-top:5px">程总在庆功会上致辞</h3>
        <center><img src="images/app-2.jpg" width="600" height="400" ></center>
        <h3 style=" text-align:center; padding-top:5px">程总为运营中心以及支持中心颁奖</h3>
       <center><img src="images/app-3.jpg" width="600" height="400" ></center>
        <h3 style=" text-align:center; padding-top:5px">程总为产品中心和BD中心颁奖</h3>
       <center><img src="images/app-4.jpg" width="600" height="400" ></center>
        <h3 style=" text-align:center; padding-top:5px">程总为技术中心颁奖</h3>
        <center><img src="images/app-5.jpg" width="600" height="400" ></center>
        <h3 style=" text-align:center; padding-top:5px">程总为技术中心三位优秀伙伴颁奖</h3>
       <center><img src="images/app-6.jpg" width="600" height="400" ></center>
        <h3 style=" text-align:center; padding-top:5px">程总为产品中心三位优秀伙伴颁奖</h3>
        <p></p>
    </div>


</div>
<div class="global-fluid" style=" background: #666666;">
    <div class="had-container" >
        <div class="global-footer">
            <div class="had-container">
                <div class="section-one">
                    <ul >
                        <center><p class="title-font">企业核心价值</p></center>
                        <li style="margin-top: 0;"><a href="corporateCulture.html#value" >激&nbsp;&nbsp;&nbsp;&nbsp;情</a></li>

                        <li ><a href="corporateCulture.html#value" >创&nbsp;&nbsp;&nbsp;&nbsp;新</a></li>

                        <li ><a href="corporateCulture.html#value" >价&nbsp;&nbsp;&nbsp;&nbsp;值</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">公司信息</p></center>
                        <li><a href="companyInfo.html#companyIntro" >海德简介</a></li>
                        <li><a href="companyInfo.html#president" >总裁致辞</a></li>
                        <li><a href="companyInfo.html#devCourse" >发展历程</a></li>
                        <li><a href="companyInfo.html#organization">组织结构</a></li>
                        <li><a href="companyInfo.html#coreGroup" >核心团队</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">业务体系</p></center>
                        <li><a href="businessSystem.html#kaiba" >开呗</a></li>
                        <li><a href="businessSystem.html#carNews" >98车讯</a></li>
                        <li><a href="businessSystem.html#shenzhenBranch" >深圳分公司</a></li>
                        <li><a href="businessSystem.html#guangzhouBranch" >广州分公司</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">企业文化</p></center>
                        <li><a href="corporateCulture.html#corporateVision" >企业愿景</a></li>
                        <li><a href="corporateCulture.html#mission" >企业使命</a></li>
                        <li><a href="corporateCulture.html#purpose" >企业宗旨</a></li>
                        <li><a href="corporateCulture.html#value" targetdiv="div5">核心价值观</a></li>
                        <li><a href="corporateCulture.html#culture" targetdiv="div1">文化品格</a></li>
                        <li><a href="corporateCulture.html#product" targetdiv="div2">产品理念</a></li>
                        <li><a href="corporateCulture.html#talent" targetdiv="div4">人才策略</a></li>
                        <li><a href="corporateCulture.html#hadlink" targetdiv="div5">海德印象</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">投资者关系</p></center>
                        <li><a href="investor.html#corporateNotice" >公司公告</a></li>
                        <li><a href="investor.html#companyRunReport">经营报告</a></li>
                        <li><a href="investor.html#companyManage">公司治理</a></li>
                        <li><a href="investor.html#companyother">其他动态</a></li>
                    </ul>
                </div>
                <div class="section-two">
                    <ul>
                        <center><p class="title-font">合作洽谈</p></center>
                        <li><a href="cooperate.html#headquarters">联系我们</a></li>
                        <li><a href="cooperate.html#talentJoin">招贤纳士</a></li>
                    </ul>
                </div>
            </div>

            <div class="had-container" style="float: left;">
                <div class="footer-copyright" style="color: #ffffff">
                    <div style="margin-top: 20px;"><center>
                        <script type="text/javascript"> var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254129543'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol+ "s11.cnzz.com/z_stat.php%3Fid%3D1254129543%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                        <span style="color:#dcdcdc"><a href="javascript:void(0)">©2015 深圳市海德在线有限公司版权所有</a>  | <a href="http://www.miitbeian.gov.cn/">粤ICP备14066441号</a></span>
                    </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>