
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>海德在线</title>
    <link rel="stylesheet" href="__CSS__/App/home/newsdetail.css">
    <link rel="stylesheet" href="__CSS__/App/home/newsmodule.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/Base/bootstrap/3.3.0/css/bootstrap.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__JS__/Lib/seajs/2.3.0/sea.js"></script>
    <script type="text/javascript" src="__JS__/Conf/baseConfig.js"></script>
</head>
<body>
<div class="global-nav" style="height: 60px;line-height: 60px;">
    <block name="header"><include file="News:header" /> </block>

</div>
<div class="had-container" style="height: 850px;">
    <div class="news-center">
        <a href="{:U('Index/index')}"><img src="__IMG__/newscenter.png"></a>
        <span>&nbsp;&nbsp;
          <a class="bread-crumbs" href="{:U('News/index')}">  新闻中心</a>
            <span class="bread-crumbs">></span>
            <a class="bread-crumbs" href="{:U('News/index#companyNews')}">公司新闻</a>
        </span>
    </div>
    <div id="companyNews" class="section-news" >
        <h3 style="text-align:center">开呗V2.1版本发布在即</h3>
        <h4 style="text-align:center; color:#666">发布日期：2015-02-04</h4>
        <hr style="border: 1px solid #808080;">
        <br>
        <p class="p-low">2015年3月6日（正月十六），我公司推出开呗V2.1版本，在原有V2.0版本的基础上进行了BUG修复和换肤，新版本在原有版本的基础上进行了优化，让用户体验更加极致和美观。</p>

        <p><strong>&nbsp; &nbsp;&nbsp; &nbsp;<a style="color: #ff9326;" href="http://www.91czs.com">欢迎下载 | 扫描下面的二维码！</a> </strong></p>
        <br>
        <a  href="http://www.ikaibei.com" style="margin-left: 40px;color: #ff9326;"><img src="__IMG__/erweima.png"></a>
    </div>

</div>
<div class="global-fluid" style=" background: #666666;">
    <block name="header"><include file="Public:footer" /> </block>
</div>
</body>
</html>