
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>海德在线</title>
    <link rel="stylesheet" href="__CSS__/App/home/newsdetail.css">
    <link rel="stylesheet" href="__CSS__/App/home/newsmodule.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/Base/bootstrap/3.3.0/css/bootstrap.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__JS__/Lib/seajs/2.3.0/sea.js"></script>
    <script type="text/javascript" src="__JS__/Conf/baseConfig.js"></script>
</head>
<body>
<div class="global-nav" style="height: 60px;line-height: 60px;">
    <block name="header"><include file="News:header" /> </block>

</div>
<div class="had-container">
    <div class="news-center">
        <a href="{:U('Index/index')}"><img src="__IMG__/newscenter.png"></a>
        <span>&nbsp;&nbsp;
          <a class="bread-crumbs" href="{:U('News/index')}">  新闻中心</a>
            <span class="bread-crumbs">></span>
            <a class="bread-crumbs" href="{:U('News/index#companyNews')}">公司新闻</a>
        </span>
    </div>
    <div id="companyNews" class="section-news" style="height: auto;">

        <h3 style="text-align:center;padding-top: 15px;">热烈庆祝海德在线乔迁之喜</h3>
        <h4 style="text-align:center; color:#666">发布日期：2014-11-16</h4>
        <hr style="border: 1px solid #808080;">
        <br>
        <p class="p-low">
            2014年12月18日，由海德在线团队研发的能够迅速推进汽车后市场行业互联网化的革命性产品<mark><a style="color: #ff9326;" target="_blank"  href="http://www.91czs.com">开呗</a></mark>APP V1.0正式上线耀世发布，这标志着在打车APP、租车APP、代驾APP之后，专注汽车后市场行业、实现汽车本地生活移动O2O的APP“<mark><a style="color: #ff9326;" target="_blank"  href="http://www.91czs.com">开呗</a></mark>”也进军了汽车行业的移动端。
        </p>
        <p class="p-low">  2014年11月16日，是一个所有海德人值得纪念和庆贺的日子，我们的心情无比的激动！经过所有海德伙伴们的积极努力，深圳市海德在线有限公司企业总部于今天正式乔迁至新址——研祥科技大厦。</p>

        <p class="p-low">
            随着海德在线进入快速发展期，旧址已不适应新变，因此于2014年11月16日搬迁至新址办公，新址坐落在深圳市南山区科技园区，是深圳市的高新科技产业园区，新址提供了更现代化的办公条件以及更先进的办公设备，更为广大海德在线的伙伴提供了一个更加舒适宜人的办公环境，为今后企业实现跨越式发展、不断壮大企业实力打下了坚实的硬件基础。
        </p>
        <p class="p-low">
             长风破浪会有时，直挂云帆济沧海！踏在新的起点，海德在线将在接下来的事业发展征程中披荆斩棘、乘风破浪，我们展开胸怀迎接每一个未来的挑战，海德在线将乘着乔迁之喜，让海德在线的发展再上一个巅峰。
        </p>
        <center><img src="__IMG__/yx-1.jpg" width="600" height="400"></center>
        <h3 style=" text-align:center; padding-top:5px">海德在线前台</h3>
        <center><img src="__IMG__/yx-2.jpg" width="600" height="400"></center>
        <h3 style=" text-align:center; padding-top:5px">海德在线前台</h3>

        <center><img src="__IMG__/yx-3.jpg" width="600" height="400"></center>
        <h3 style=" text-align:center; padding-top:5px">咖啡厅</h3>

        <center><img src="__IMG__/yx-4.jpg" width="600" height="400"></center>
        <h3 style=" text-align:center; padding-top:5px">办公区</h3>

        <center><img src="__IMG__/yx-5.jpg" width="600" height="400"></center>
        <h3 style=" text-align:center; padding-top:5px">会议室</h3>
    </div>
</div>
<div class="global-fluid" style=" background: #666666;">
    <block name="header"><include file="Public:footer" /> </block>
</div>
</body>
</html>