

<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>海德在线</title>
    <link rel="stylesheet" href="__CSS__/App/home/newsdetail.css">
    <link rel="stylesheet" href="__CSS__/App/home/newsmodule.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/Base/bootstrap/3.3.0/css/bootstrap.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__JS__/Lib/seajs/2.3.0/sea.js"></script>
    <script type="text/javascript" src="__JS__/Conf/baseConfig.js"></script>
</head>
<body >
<div class="global-nav" style="height: 60px;line-height: 60px;">
    <block name="header"><include file="News:header" /> </block>

</div>
<div class="had-container"style="height: auto;">
    <div class="news-center">
        <a href="{:U('Index/index')}"><img src="__IMG__/newscenter.png"></a>
        <span>&nbsp;&nbsp;
          <a class="bread-crumbs" href="{:U('News/index')}">  新闻中心</a>
            <span class="bread-crumbs">></span>
            <a class="bread-crumbs" href="{:U('News/index#companyNews')}">公司新闻</a>
        </span>
    </div>
    <div id="companyNews" class="section-news">
        <h3 style="text-align:center">开呗上门保养 任性上线</h3>
        <h4 style="text-align:center; color:#666">发布日期：2015-03-06</h4>
        <hr style="border: 1px solid #808080;">
        <br>
        <div >
        <h3>活动期间上门保养低至99元啦！就这么省钱！就这么任性！</h3>
        <p> </p>
        <br>&nbsp;<strong>99元套餐：</strong>嘉实多金嘉护（5L）＋&nbsp;曼牌正品机滤+上门服务费&nbsp;<br>&nbsp;<strong>适用车型</strong>：20万以下不含涡轮增压车型<br><p></p>&nbsp;<strong>199元套餐：</strong>嘉实多磁护（5L）＋曼牌正品机滤+上门服务费&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;<strong>适用车型</strong>：50万以下车型<br><p></p>&nbsp;<strong>299元套餐：</strong>嘉实多极护（5L）＋曼牌正品机滤+上门服务费&nbsp;&nbsp;<br>&nbsp;<strong>适用车型</strong>：50万以上车型<br><p></p>&nbsp;<strong>现在预约，尊享专属服务。约么？</strong>
            <br>&nbsp;<strong>关注开呗微信公众账号：“开呗”</strong><br>&nbsp;<strong>登录开呗官方网站：<a href="http://www.ikaibei.com">http://www.ikaibei.com</a> </strong><br><br>&nbsp;<strong>活动时间：</strong>3月6日－4月6日<br>&nbsp;<strong>保养时间</strong>：3月6日-5月6日<br>&nbsp;<strong>活动区域</strong>：南山、宝安、福田<br>&nbsp;注：机油超过5L用量需要补差价，最终价格以客服确认为准。<br><br><br>&nbsp;<strong>开呗&nbsp;，您身边的上门养车专家</p>
        <p>&nbsp;方便<br>&nbsp;有停车位即可保养，45分钟内完成服务<br>&nbsp;专业<br>&nbsp;资深4S店高级技师，免费赠送41项安全检测消除车辆隐患<br>&nbsp;低价<br>&nbsp;上门保养仅需99元，国际品牌垂直供货，配件假一罚百<br>&nbsp;保障<br>&nbsp;全程录像绝对透明，服务后30天或2000公里内质量保障<br></strong></p>
        <p><br></p>
            <a href="http://www.ikaibei.com"> <img src="__IMG__/qrcode.png" alt="二维码" width="30%"  style="position: relative;top:-450px;left: 500px;"></a>
        </div>
    </div>
</div>
<div class="global-fluid" style=" background: #666666;">
    <block name="header"><include file="Public:footer" /> </block>
</div>

</body>
</html>