
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>海德在线</title>
    <link rel="stylesheet" href="__CSS__/App/home/newsdetail.css">
    <link rel="stylesheet" href="__CSS__/App/home/newsmodule.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/Base/bootstrap/3.3.0/css/bootstrap.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__JS__/Lib/seajs/2.3.0/sea.js"></script>
    <script type="text/javascript" src="__JS__/Conf/baseConfig.js"></script>
</head>
<body>
<div class="global-nav" style="height: 60px;line-height: 60px;">
    <block name="header"><include file="News:header" /> </block>

</div>
<div class="had-container" >
    <div class="news-center">
        <a href="{:U('Index/index')}"><img src="__IMG__/newscenter.png"></a>
        <span>&nbsp;&nbsp;
          <a class="bread-crumbs" href="{:U('News/index')}">  新闻中心</a>
            <span class="bread-crumbs">></span>
            <a class="bread-crumbs" href="{:U('News/index#companyNews')}">公司新闻</a>
        </span>
    </div>
    <div id="companyNews" class="section-news"  >
        <p>
        </p><h3 style="text-align:center">绍光车业董事长何绍华先生莅临海德在线洽谈合作</h3>
        <h4 style="text-align:center; color:#666">发布日期：2014-11-22</h4>
        <hr style="border: 1px solid #808080;">
        <br>
        <p class="p-low">
            11月22日下午15:00，在深圳拥有30家连锁门店的绍光车业董事长何少华先生莅临海德在线参观考察洽谈合作，在了解到海德在线公司实力以及未来的发展方向之后对和海德在线的战略合作表示了殷切期盼，随行人员有董事长助理欧阳女士及市场经理谢国辉先生。。</p>
        <p class="p-low"> 下午三点，何少华董事长一行抵达海德在线，海德在线董事长兼总裁程平、运营总监刘俊、战略推进副总监徐昂做了热忱接待，何董事长首先参观了海德在线1000平米的办公区，从前厅走到中央办公区再到研发中心一路，边走边频频点头，对海德在线从企业文化、办公氛围以及设施环境等方面表现出来的企业实力有了深入的认可，尤其对海德在线团队成员体现出来的激情与活力状态给了高度赞扬，奠定了绍光车业与海德在线的合作基础。</p>
        <p class="p-low">参观完公司之后程平董事长引导何少华董事长一行进入了公司会议室对海德在线与绍光车业的深度战略合作做了第一次正式洽谈，会议由徐总主持，首先对何董一行莅临海德在线洽谈合作表示热烈欢迎，之后邀请程总致欢迎辞，程总对何董能够在百忙之中抽出时间来海德在线参观考察洽谈合作表示感谢，然后表达了对海德在线和绍光车业深度合作的期待，接下来由徐总详细讲解了海德在线和绍光车业此次合作对双方的前景和重大意义以及海德在线将如何来推进与绍光车业的合作，何董在会议过程中对海德在线此次合作表现出来的诚意所打动，对海德在线提出的合作策略更是大加赞同，之后双方就一些合作的细节问题做了比较深入的交流探讨，最终达成合作意向，并对将来和海德在线拆分业务捆绑上市做出了宏远规划。</p>
        <br>
        <center><h3>产品总监郑练、研发中心总监钟其灵等陪同接待。</h3></center>
        <center><img src="__IMG__/sgcy-1.jpg" width="600" height="400" ></center>
        <h3 style=" text-align:center; padding-top:5px">海德在线董事长程平先生热忱欢迎绍光车业何绍华董事长一行</h3>
        <center><img src="__IMG__/sgcy-2.jpg" width="600" height="400" ></center>
        <h3 style=" text-align:center; padding-top:5px">徐昂总监引导何绍华董事长一行参观公司</h3>
        <center><img src="__IMG__/sgcy-3.jpg" width="600" height="400" ></center>
        <h3 style=" text-align:center; padding-top:5px">海德在线和绍光车业在会议室进行合作洽谈</h3>

        <p></p>


        <p></p>
    </div>
</div>
<div class="global-fluid" style=" background: #666666;">
    <block name="header"><include file="Public:footer" /> </block>
</div>
</body>
</html>