#header {
    position: relative;
    height: 100px;
}

.global-fluid {
    width: 100%;
    background: #BDC3C7;
}
.global-container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
#sidebar {
    position: absolute;
    top: 150px;
    left: 100px;
    min-height: 600px;
    width: 200px;
    border: 2px solid #808080;
}

#content {
    /*width: 1170px;*/
    width: 70%;
    min-width: 1000px;
    min-height: 700px;
    background: #dcdcdc;
    position: relative;
    margin-left: 350px;
    margin-top: 50px;
}