<extend name="Public:base" />
<block name="css">
    <load href="__CSS__/App/home/enterpriseCulture.css" />
</block>
<block name="content">
    <div class="had-container">
        <div class="company-nav">
            <ul>
                <li id="js-corporateVision"><a data-id="1" href="#corporateVision" > 企业愿景</a></li>
                <li id="js-mission"><a data-id="2" href="#mission" >使命</a></li>
                <li id="js-purpose"><a data-id="3" href="#purpose" >宗旨</a></li>
                <li id="js-value"><a data-id="4" href="#value" >核心价值观</a></li>
                <li id="js-culture"><a data-id="5" href="#culture" >文化品格</a></li>
                <li id="js-product"><a data-id="6" href="#product" >产品理念</a></li>
                <li id="js-manage"><a data-id="7" href="#manage" >管理理念</a></li>
                <li id="js-talent"><a data-id="8" href="#talent" >人才战略</a></li>
                <li id="js-hadlink"><a data-id="9" href="#hadlink" >海德印象</a></li>
            </ul>
        </div>
        <!--企业愿景-->
        <div id="corporateVision" class="section-common div-center" style="min-height: 780px;">
            <div><img src="__IMG__/first.png"></div>
            <h3 style="color: #ffa54a;padding-top: 25px;">企业愿景</h3>
            <br>
            <p style="font-size: 20px;">构建汽车全生命周期线上线下贯通的生态产业链 </p>
            <div style="width:692px;height: 390px;margin-left: auto;margin-right: auto;padding-top: 50px; "><img src="__IMG__/vision.png"></div>

        </div>
        <!--使命-->
        <div id="mission" class="section-common div-center" style="min-height: 150px;">
            <div style="float: left"><h3 style="color: #ffa54a;padding-top: 15px;">企业使命</h3>
                <br>
                <p style="font-size: 20px;">让移动科技改变汽车本地生活 </p>
            </div>
            <div style="width: 27%;float: right;padding-top: 25px;">
                <img src="__IMG__/mission.png">
            </div>
        </div>
        <!--宗旨-->
        <div id="purpose" class="section-common div-center" style="min-height: 150px;">
            <div style="float: left"><h3 style="color: #ffa54a;padding-top: 15px;">企业宗旨</h3>
                <br>
                <p style="font-size: 20px;">海纳百川、德行天下 </p>
            </div>
            <div style="width: 27%;float: right;padding-top: 25px;">
                <img src="__IMG__/purpose.png">
            </div>

        </div>
        <!--核心价值观-->
        <div id="value" class="section-common div-center" style="height: 570px;">
            <h3 style="color: #ffa54a;padding-top: 15px;">核心价值观</h3>
            <!--激情-->
            <div class="core-content">
                <div class="core-pic"><img src="__IMG__/passion.png"></div>
                <div style="float: left;margin-left: 10%;width: 75%;height: auto">
                    <p style="color: #ffa54a;font-size: 18px;">激情</p>
                    <p>当你进入公司的那一刻起，是否有非常振奋的情绪、可否激发起您的平静心情。 当你完成一件事情时，是否雀跃兴奋、喜悦自信。 当你听完我们的梦想以及规划后，是否对前景充满希望与渴求的美好祈盼和动力。 当你对所有的事物不再有任何兴趣的时候，也就是您离开这个组织的时候。 激情；它具有魔力与吸引力，吸引着无敉的人去爆发、爆发、爆发、爆发这激情。</p>
                </div>
            </div>
            <!--创新-->
            <div class="core-content" style="margin-top: 50px;">
                <div class="core-pic"><img src="__IMG__/innovate.png"></div>
                <div style="float: left;margin-left: 10%;width: 75%;height: auto">
                    <p style="color: #ffa54a;font-size: 18px;">创新</p>
                    <p>一种永不满足的追求，它的本质是突破，它的目标是创造更大价值。颠覆传统，敢于否定自己，努力尝试新的思维我们极为重视重大的、全新的、有意义的、贴近工作目标的创新；做一个敢想，而且是毫无边际的大胆畅想的人。我们都要提醒自己善于发现，敢于怀疑，学会变通，超越经验。 </p>

                </div>
            </div>
            <!--价值-->
            <div class="core-content" style="margin-top: 50px;">
                <div class="core-pic"><img src="__IMG__/value.png"></div>
                <div style="float: left;margin-left: 10%;width: 75%;height: auto">
                    <p style="color: #ffa54a;font-size: 18px;">价值</p>
                    <p>劳动是一切价值的唯一源泉，而决定事物生存与发展的根本前途的决定性因素不是该事物的投入产出比，而是该事物的价值率，决定人对于事物的根本态度的决定性因素也不是该事物的投入产出比，还是该事物的价值率。由此，衡量自我价值的唯一标准，就是自我价值率，实实在在地增强自己生存与发展的能力，不断追求自身生存与发展的能力，就是不断提升自我价值的过程。  </p>

                </div>
            </div>
        </div>
        <!--文化品格-->
        <div id="culture" class="section-common div-center" style="height: 1150px;">
            <h3 style="color: #ffa54a;padding-top: 15px;">文化品格</h3>
            <div class="core-content" style="margin-top: 30px;">
                <div class="core-pic"><img src="__IMG__/share.png"></div>
                <div style="float: left;margin-left: 10%;width: 75%;height: auto">
                    <p style="color: #ffa54a;font-size: 18px;">分享</p>
                    <p>
                        分享是海德在线的行为主张，我们的每一位同仁都拥有这一种大智慧。
                        我们每天都敞开胸怀，分享所有工作伙伴的经验、思想和快乐。
                        我们每天将自己的所思所得主动与每一位伙伴交流，以求协作，共同进步。
                        因为分享能带给我们精神上的充实与快乐，懂得分享的人能收获更多的快乐。</p>
                </div>

            </div>
            <div class="core-content" style="margin-top: 50px; ">
                <div class="core-pic"><img src="__IMG__/inclusion.png"></div>
                <div style="float: left;margin-left: 10%;width: 75%;">
                    <p style="color: #ffa54a;font-size: 18px;">包容</p>
                    <p>包容是一种胸怀，包容更是一种智慧，是一种以博大胸怀为基础的智慧，懂得包容的人姿态谦和，有着和谐的人际关系，从而使自己的工作、事业、生活顺风顺水。海德在线是一个包容的企业，是一个相互包容的团队，懂得包容在利益、得失面前不会斤斤计较，而是以大局为重。</p>




                </div>
            </div>
            <div class="core-content" style="margin-top: 50px;">
                <div class="core-pic"><img src="__IMG__/sincerity.png"></div>
                <div style="float: left;margin-left: 10%;width: 75%;height: auto">
                    <p style="color: #ffa54a;font-size: 18px;">真诚</p>
                    <p>海德在线是一个真诚的企业。
                        真心实意，坦诚相待，海德在线在发展历程中，始终坚持这一基本点。真诚是我们海德在线最宝贵的财富，我们怀着一颗真诚的心经营公司，用真诚的态度组建我们的团队，用真诚的情怀去开发我们的产品，真诚是我们最大的骄傲，是我们获得外埠投资最重要的筹码之一。
                    </p>
                    <br>
                    <p style="color: #ffa54a;font-size: 18px;">海德在线的文化DNA---鲨鱼文化</p>
                    <p>  心中有梦想,脚下才有路。与其仰天长叹上天不公,不如做一条奋力游动的鲨鱼 <img src="" >
                        <img src="__IMG__/hadlinkDNA.png" alt="海德基因-鲨鱼文化" class="img-rounded">
                    <p>化短为长,闯出属于我们自己的强者之路,完成我们自己的人生跨越。</p>

                    </p>
                </div>
            </div>



        </div>
        <!--产品理念-->
        <div id="product" class="section-common div-center" style="height: 170px;">
            <h3 style="color: #ffa54a;padding-top: 25px;">产品理念</h3>
            <p style="color: #ffa54a;font-size: 18px;">把用户体验做到极致，超出用户期望的价值体验</p>
            <p>海德在线永远把用户放在首位，研发出让用户尖叫的产品，是我们不倦的追求。</p>
        </div>
        <!--管理理念-->
        <div id="manage" class="section-common div-center" style="height: 380px;">
            <h3 style="color: #ffa54a;padding-top: 15px;">管理理念</h3>
            <p style="color: #ffa54a;font-size: 18px;">以人为本,结果导向</p>
            <p>海德在线永远把用户放在首位，研发出让用户尖叫的产品，是我们不倦的追求。</p>
            <div style="width: 40%;float: left;">
                <div style="width: 50%;float: left">
                    <p style="color: #ffa54a;font-size: 20px;padding-top: 25px;padding-left: 15px;">客户满意度:</p>
                    <p style="font-size: 14px;padding-left: 15px;">企业存在的价值 </p>
                </div>
                <div style="width: 50%;float: left;margin-top: 20px;">
                    <img src="__IMG__/enterprisesatisfaction.png">
                </div>

            </div>
            <div style="width: 40%;float: left;">
                <div style="width: 50%;float: left">
                    <p style="color: #ffa54a;font-size: 20px;padding-top: 25px;padding-left: 15px;">内部流程:</p>
                    <p style="font-size: 14px;padding-left: 15px;">企业运行的效率 </p>
                </div>
                <div style="width: 50%;float: left;margin-top: 20px;">
                    <img src="__IMG__/internalprocess.png">
                </div>

            </div>
            <div style="width: 40%;float: left;">
                <div style="width: 50%;float: left">
                    <p style="color: #ffa54a;font-size: 20px;padding-top: 25px;padding-left: 15px;">学习成长:</p>
                    <p style="font-size: 14px;padding-left: 15px;">企业长青的基础 </p>
                </div>
                <div style="width: 50%;float: left;margin-top: 20px;">
                    <img src="__IMG__/learndev.png">
                </div>

            </div>
            <div style="width: 40%;float: left;">
                <div style="width: 50%;float: left">
                    <p style="color: #ffa54a;font-size: 20px;padding-top: 25px;padding-left: 15px;">财务指标:</p>
                    <p style="font-size: 18px;padding-left: 15px;">股东投资的意义 </p>
                </div>
                <div style="width: 50%;float: left;margin-top: 20px;">
                    <img src="__IMG__/finance.png">
                </div>

            </div>

        </div>
        <!--人才战略-->
        <div id="talent" class="section-common div-center" style="height: 480px;">
            <h3 style="color: #ffa54a;padding-top: 20px;">人才战略</h3>
            <p style="color: #ffa54a;font-size: 18px;">1）核心职能——资深化 </p>
            <p>高层团队全部具有资深互联网行业知名企业背景（阿里、腾讯、百度、京东、美团、猫屋等） </p>
            <p style="color: #ffa54a;font-size: 18px;">2）关键职能——专业化  </p>
            <p>各关键职能全部为各领域的专业技术人才  </p>
            <p style="color: #ffa54a;font-size: 18px;">3）基础职能——草根—精英化  </p>
            <p>各基础职能不拘一格，认同公司，即使是菜鸟，也会培养成海德精英 </p>

            <p style="color: #ffa54a;font-size: 18px;">4）年龄结构——年轻化  </p>

            <p>在年龄结构合理化的基础上，建立年轻的，富有激情和活力（互联网思维）的团队  </p>

            <p style="color: #ffa54a;font-size: 18px;">5）思维结构——海德化 </p>
            <p>以海德独有的文化，塑造出开放、活力、激情、创新、追求自我价值实现的海德人</p>

        </div>
        <!--海德印象-->
        <div id="hadlink" class="section-common div-center" style="min-height: 550px;">
            <h3 style="color: #ffa54a;padding-top: 15px;">海德印象</h3>
            <div class="column-pic" style="margin: 0" >
                <img class="pic-scale-y" src="__IMG__/celebrate03.jpg" alt="2015年会聚餐剪影">
                <p class="text-center">2015年会聚餐剪影</p>
            </div>
            <div class="column-pic " >
                <img class="pic-scale-y" src="__IMG__/celebrate04.jpg" alt="2014年度最佳贡献奖合影">
                <p class="text-center">2014年度最佳贡献奖合影</p>
            </div>
            <div class="column-pic" >
                <img class="pic-scale-y" src="__IMG__/celebrate05.jpg" alt="2014年度最佳忠诚奖合影">
                <p class="text-center">2014年度最佳忠诚奖合影</p>
            </div>
            <div class="column-pic" style="margin: 0">
                <img class="pic-scale-y" src="__IMG__/move.jpg" alt="海德在线">
                <p class="text-center">海德在线</p>
            </div>
            <div class="column-pic" >
                <img class="pic-scale-y" src="__IMG__/think2.png" alt="头脑风暴(一)">
                <p class="text-center">头脑风暴(一)</p>
            </div>
            <div class="column-pic"  >
                <img  class="pic-scale-y" src="__IMG__/think3.png" alt="头脑风暴(二)">
                <p class="text-center">头脑风暴(二)</p>
            </div>
        </div>
        <!--高压线-->
        <div id="forbid" class="section-common div-center" style="height: 300px;display: none">
            <h3 style="color: #ffa54a;">高压线</h3>
            <ul>
                <li>不得从事与本公司工作无关的其他任何事情 </li>
                <li>不得泄露与公司有关的（包括保密协议规定范围）任何机密 </li>
                <li>不得危及公司核心利益</li>
                <li>不得触及职业道德底线 </li>
                <li>不得触犯国家法律法规</li>
                <li>一经发现查出，立即予以开除 。并追究因此为公司造成的损失以及潜在损失。情节严重的将    追究其法律责任。</li>
            </ul>
        </div>

    </div>
</block>
<block name="footer">
    <include file="Public:footer" />
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use('enterpriseCultureController.js',function(main){
            main.base();
        });
    </script>
</block>