<div style="width: 100%;">
    <ul id="accordion" class="accordion">
        <li>
            <div class="link"><i class="fa fa-paint-brush"></i>网站管理<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="http://www.jq22.com">菜单管理</a></li>
                <li><a href="http://www.jq22.com">友情链接</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-code"></i>收支管理<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="{}">收入管理</a></li>
                <li><a href="{:U('Home/consume/index')}">消费管理</a></li>
                <li><a href="{}">理财管理</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-mobile"></i>分类管理<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="http://www.jq22.com">php</a></li>
                <li><a href="http://www.jq22.com">java</a></li>
                <li><a href="http://www.jq22.com">javascript</a></li>
                <li><a href="http://www.jq22.com">jQuery</a></li>
                <li><a href="http://www.jq22.com">seajs</a></li>
            </ul>
        </li>
        <li><div class="link"><i class="fa fa-globe"></i>分析图表<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="http://www.jq22.com">Echarts</a></li>
                <li><a href="http://www.jq22.com">chart</a></li>
                <li><a href="http://www.jq22.com">cavans</a></li>

            </ul>
        </li>
    </ul>
</div>
