<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>海德在线</title>
    <load href="__CSS__/App/header.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/Base/bootstrap/3.3.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/App/public.css">
    <block name="css">

    </block>
    <script type="text/javascript" src="__JS__/Lib/seajs/2.3.0/sea.js"></script>
    <script type="text/javascript" src="__JS__/Conf/baseConfig.js"></script>
</head>
<body>
<!--头部导航-->
<block name="header">
    <include file="Public:header" />
</block>
<!--主体内容-->
<block name="content">

</block>
<!--底部版权-->
<block name="footer">
    <include file="Public:footer" />
</block>
<!--JS脚本-->
<block name="js">

</block>
</body>
</html>