
<block name="css">
    <load href="__CSS__/App/home/footer.css" />
</block>
<div class="global-footer">
    <div class="global-fluid" >
        <div class="had-container" >
            <div class="global-footer">
                <div class="had-container">
                    <div class="section-one">
                        <ul >
                            <center><p class="title-font">企业核心价值</p></center>
                            <li style="margin-top: 0;"><a href="corporateCulture.html#value" >激&nbsp;&nbsp;&nbsp;&nbsp;情</a></li>

                            <li ><a href="corporateCulture.html#value" >创&nbsp;&nbsp;&nbsp;&nbsp;新</a></li>

                            <li ><a href="corporateCulture.html#value" >价&nbsp;&nbsp;&nbsp;&nbsp;值</a></li>
                        </ul>
                    </div>
                    <div class="section-two">
                        <ul>
                            <center><p class="title-font">公司信息</p></center>
                            <li><a href="companyInfo.html#companyIntro" >海德简介</a></li>
                            <li><a href="companyInfo.html#president" >总裁致辞</a></li>
                            <li><a href="companyInfo.html#devCourse" >发展历程</a></li>
                            <li><a href="companyInfo.html#organization">组织结构</a></li>
                            <li><a href="companyInfo.html#coreGroup" >核心团队</a></li>
                        </ul>
                    </div>
                    <div class="section-two">
                        <ul>
                            <center><p class="title-font">业务体系</p></center>
                            <li><a href="businessSystem.html#kaiba" >开呗</a></li>
                            <li><a href="businessSystem.html#carNews" >98车讯</a></li>
                            <li><a href="businessSystem.html#shenzhenBranch" >深圳分公司</a></li>
                            <li><a href="businessSystem.html#guangzhouBranch" >广州分公司</a></li>
                        </ul>
                    </div>
                    <div class="section-two">
                        <ul>
                            <center><p class="title-font">企业文化</p></center>
                            <li><a href="corporateCulture.html#corporateVision" >企业愿景</a></li>
                            <li><a href="corporateCulture.html#mission" >企业使命</a></li>
                            <li><a href="corporateCulture.html#purpose" >企业宗旨</a></li>
                            <li><a href="corporateCulture.html#value" targetdiv="div5">核心价值观</a></li>
                            <li><a href="corporateCulture.html#culture" targetdiv="div1">文化品格</a></li>
                            <li><a href="corporateCulture.html#product" targetdiv="div2">产品理念</a></li>
                            <li><a href="corporateCulture.html#talent" targetdiv="div4">人才策略</a></li>
                            <li><a href="corporateCulture.html#hadlink" targetdiv="div5">海德印象</a></li>
                        </ul>
                    </div>
                    <div class="section-two">
                        <ul>
                            <center><p class="title-font">投资者关系</p></center>
                            <li><a href="investor.html#corporateNotice" >公司公告</a></li>
                            <li><a href="investor.html#companyRunReport">经营报告</a></li>
                            <li><a href="investor.html#companyManage">公司治理</a></li>
                            <li><a href="investor.html#companyother">其他动态</a></li>
                        </ul>
                    </div>
                    <div class="section-two">
                        <ul>
                            <center><p class="title-font">合作洽谈</p></center>
                            <li><a href="cooperate.html#headquarters">联系我们</a></li>
                            <li><a href="cooperate.html#talentJoin">招贤纳士</a></li>
                        </ul>
                    </div>
                </div>

                <div class="had-container" style="float: left;">
                    <div class="footer-copyright" style="color: #ffffff">
                        <div style="margin-top: 20px;"><center>
                            <script type="text/javascript"> var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254129543'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol+ "s11.cnzz.com/z_stat.php%3Fid%3D1254129543%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                            <span style="color:#dcdcdc"><a href="javascript:void(0)">©2015 深圳市海德在线有限公司版权所有</a>  | <a href="http://www.miitbeian.gov.cn/">粤ICP备14066441号</a></span>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="slideUp" title="返回顶部" class="slideUp"><img src="__IMG__/backtop.png"> </div>
<block name="js">
    <script type="text/javascript">
        seajs.use('baseController.js',function(main){
            main.base();
        });
    </script>
</block>