
<extend name="Public:base" />
<block name="css">
    <load href="__CSS__/App/header.css" />
</block>
<block name="header">
<div class="global-fluid">
    <div class="nav-container">
        <div class="hadlink-logo"><a href="index.html"><img src="__IMG__/hadlinkLOGO.png" alt="海德在在线" width="230" height="100"></a> </div>
        <ul class="nav-bar">
            <li class="bottom-active"><a href="index.html" id="firstPage">首页</a> </li>
            <li ><a href="companyInfo.html" id="copanyInfo">公司信息</a></li>
            <li><a href="news.html" id="news">新闻中心</a></li>
            <li><a href="corporateCulture.html">企业文化</a></li>
            <li ><a href="businessSystem.html">业务体系</a></li>
            <li ><a href="investor.html">投资者关系</a></li>
            <li ><a href="cooperate.html" id="cooperation">合作洽谈</a></li>
        </ul>
    </div>
</div>
</block>
<block name="content">
    <div class="main-content">
    </div>
</block>
<block name="footer">

</block>