
<extend name="Public:base" />
<block name="css">
    <load href="__CSS__/App/home/product.css" />
</block>
<block name="content">
    <div  class="had-container" >
        <div class="business-nav">
            <ul>
                <li id="js-comIntro" ><a data-id="1" href="#kaiba" > 开呗</a></li>
                <li id="js-president"><a data-id="2" href="#carNews" >98车讯</a></li>
                <li id="js-devCourse"><a data-id="3" href="#shenzhenBranch" >深圳分公司</a></li>
                <li id="js-organization"><a data-id="4" href="#guangzhouBranch" >广州分公司</a></li>
            </ul>
        </div>
        <!--开呗业务介绍-->
        <div id="kaiba" class="section-common div-center" style="min-height: 730px;">
            <div><img src="__IMG__/yewu.png"></div>
            <h3 style="color: #ffa54a;padding-top: 25px;">开呗</h3>
            <p style="padding-top: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;  开呗是由我公司研发并推出，一款专业面向广大车主的值得信赖的车生活深度应用工具，主要构建车主和车服务商之间的信息服务平台，主要的应用端口有PC端、APP端、移动端、车机端。</p>
            <p class="p-low">&nbsp;&nbsp;&nbsp;&nbsp;开呗——中国最具活力的车生活服务平台——围绕车主进行全面资源整合，深度解决车主的车生活痛点，开启车主快捷方便、轻松愉悦的车生活一键达成模式，具备“便捷、透明、质优、价廉”的功能，拥有体验超值化、服务多样化、交易方便化、应用广泛化四大特点，目前拥有50万车主用户，依据车生活需求整合了四方面庞大的资源形成了资源矩阵：四方面庞大的资源形成了资源矩阵：
            </p>
            <p style="color: #ff9326;">&nbsp;&nbsp; &nbsp; &nbsp; 1）为庞大的线下汽车维修门店及美容生活馆服务网络；
            <p style="color: #ff9326;"> &nbsp; &nbsp; &nbsp; &nbsp;2）为数百家正品汽车电子厂商和汽车精品销售商家；
            <p style="color: #ff9326;">&nbsp; &nbsp; &nbsp; &nbsp;3）包含车管所、驾校、代驾公司在内的相关代理服务；
            <p style="color: #ff9326;">&nbsp; &nbsp; &nbsp; &nbsp;4）交警和保险两个重要的支持渠道。

            <p >&nbsp; &nbsp; &nbsp; &nbsp; 平台主力推荐<font color="#ff9326">汽车养护、汽车美容、汽车装饰、精品销售、汽车电子、汽车改装、汽车维修、个性定制</font> 等八项热门服务。
                开呗为车主提供了一个简易、快捷、有效的车生活应用工具，全方位满足车主所需。开呗，应你而生。您身边车生活专业解决方案工具。
            </p>
            <!--<p class="p-low">&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--第一资源矩阵为庞大的线下汽车维修门店及美容生活馆服务网络；-->
            <!--</p>-->
            <!--<p class="p-low">&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--第二资源矩阵为数百家正品汽车电子厂商和汽车精品销售商家；-->
            <!--</p>-->

            <!--<p class="p-low"> &nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--第四资源矩阵是交警和保险两个重要的支持渠道。 </p>-->

            <!--<p class="p-low">&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--平台主力推荐汽车养护、汽车美容、汽车装饰、精品销售、汽车电子、汽车改装、汽车维修、个性定制等八项热门服务，并具有本周推荐、本周热议等交互平台，在本周推荐板块，车主可以了解很多技术规范好、服务态度佳、顾客满意度强的优质线下服务商家，在本周热议板块，车主之间可以相互交流关于汽车维修养护的知识与攻略，并且开呗还配备了专业的汽车维修保养工程师团队，专门向车主解答汽车维修养护方面的相关问题。 </p>-->

            <!--<p class="p-low">&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--开呗为车主提供了一个简易、快捷、有效的车生活应用工具，全方位满足车主所需。开呗，应你而生。您身边的车生活解决方案全能助手。</p>-->


            <!--开呗——中国最具活力的车生活服务平台——围绕车主进行全面资源整合，深度解决车主的车生活痛点，开启车主快捷方便、轻松愉悦的车生活一键达成模式，具备“便捷、透明、质优、价廉”的功能，拥有体验超值化、服务多样化、交易方便化、应用广泛化四大特点，目前拥有50万车主用户，依据车生活需求整合了4方面庞大的资源形成了资源矩阵：分别是： （表格表示）-->
            <!--1）为庞大的线下汽车维修门店及美容生活馆服务网络；-->
            <!--2）为数百家正品汽车电子厂商和汽车精品销售商家；-->
            <!--3）包含车管所、驾校、代驾公司在内的相关代理服务；-->
            <!--4）交警和保险两个重要的支持渠道。-->

            <!--平台主力推荐汽车养护、汽车美容、汽车装饰、精品销售、汽车电子、汽车改装、汽车维修、个性定制（用表格表示）等八项热门服务。-->
            <!--开呗为车主提供了一个简易、快捷、有效的车生活应用工具，全方位满足车主所需。开呗，应你而生。您身边车生活专业解决方案工具。-->

            <div style="float: right;padding-top: 10px;">
                <a href="http://www.ikaibei.com" target="_blank"><img src="__IMG__/kaibeilogo.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.ikaibei.com" target="_blank"><img src="__IMG__/erweima.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <!--98车讯-->
        <div id="carNews" class="section-common div-center" style="min-height: 300px;">
            <h3 style="color: #ffa54a;">98车讯</h3>
            正在建设，敬请期待！

        </div>
        <!--深圳分公司-->
        <div id="shenzhenBranch" class="section-common div-center" style="min-height: 300px;">
            <h3 style="color: #ffa54a;">深圳分公司</h3>
            筹备建设中，敬请期待！
        </div>
        <!--广州分公司-->
        <div id="guangzhouBranch" class="section-common div-center" style="min-height: 300px;">
            <h3 style="color: #ffa54a;">广州分公司</h3>
            筹备建设中，敬请期待！
        </div>
    </div>
</block>
<block name="footer">
    <include file="Public:footer" />
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use('productController.js',function(main){
            main.base();
        });
    </script>
</block>