body {
    background: #f7f7f7;
}
@font-face {
    font-family: SIMYOU;
    src:url(../../Font/SIMYOU.TTF);
}
.global-fluid {
    width: 100%;
}
@font-face {
    font-family: SIMYOU;
    src:url(../../Font/SIMYOU.TTF);
}
.had-container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    /*padding-top:1px;*/
    z-index: 98;
}
.div-center {
    margin-left: auto;
    margin-right: auto;
}
.section-common {
    width: 1000px;
    border-bottom: 2px solid #eaeaea;
    overflow: hidden;
}

.div-center p {
    font-family:  "宋体" ;
}
.p-h3 {
    color: #ffa54a;
    margin-top: 40px;
}
.company-nav {
    display: none;
    position: fixed;
    z-index: 10;
}
.nav-div {
    width: 105px;
    height: 50px;
    background: url('../../../Images/bookmark.png');
    margin-top: 5px;
    /*border-radius:8px ;*/
    text-align: center;
    line-height: 50px;
}
.nav-div a {
    color: #999999;
    font-family: SIMYOU;
}
.nav-div a:hover {
    text-decoration: none;
}
.pd-20 {
    padding: 0 20px;
}
.active-font {
    color: #ffa54a;
    font-size: 20px;
    width: 135px;
}
.active-font a {
    color: #ffa54a;
}
.bg-white {
    background: #ffffff;
    box-shadow: 0 0 5px 0 #DDD;
}
.pd-20 {
    padding: 0 20px;
}
.pic-center {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    z-index: 0;
}